@charset "utf-8";

.jikeigakuengroup {
	border: 1px solid #CCC;
	border-radius:4px;
	margin: 20px 0 0 0;
	padding: 20px;
}
h3 {
	background:#EEEEEE;
	font-weight: bold;
	margin-bottom:15px;
	padding: 5px 5px 5px 10px;
	font-size:123%;
	}