@charset "utf-8";
#Main h2 {
	padding:15px 0;
	}
	#Main h2 span {
		display:inline-block;
		padding:0 30px;
		font-size:153%;
		font-weight:bold;
		}
#Main h3 {
	padding:15px 0;
	}
	#Main h3 span {
		display:inline-block;
		padding:0 30px;
		font-size:108%;
		font-weight:bold;
		}
#FirstArea {
	padding:30px 15px;
}
#FirstArea dl {
	width:230px;
	background:#FFF;
	float:left;
	}
#FirstArea dt {
	color:#FFF;
	font-size:123%;
	line-height:1.5;
	padding:5px 10px 0 5px;
}
#FirstArea dd {
	padding:10px;
}
#FirstArea li {
	padding-left:10px;
	text-indent:-11px;
}

#curricArea .listes {
	padding:15px;
}
	#curricArea .listes li {
		display:inline;
		}
	#curricArea .w-curriculum {
		padding-top:55px;
		margin-bottom:20px;
		}

.catAirLine #curricArea .listes dl {
	width:50%;
	float:left;
	margin-bottom:10px;
	}
	.catAirLine #curricArea .listes dt {
		margin-bottom:5px;
		color:#3abff0;
		font-weight:bold;
		font-size:108%;
		}
	.catAirLine #curricArea .listes dd {
		margin-right:10px;
		}

#oshigotoArea dl {
	width:175px;
	float:left;
	margin-right:20px;
	margin-top:15px;
	}
	
#oshigotoArea dl:nth-of-type(4),
#oshigotoArea dl:nth-of-type(8),
#oshigotoArea dl:nth-of-type(12) {
	margin-right:0;
	}
#oshigotoArea dt {
	text-align:center;
	margin-bottom:15px;
	border-radius:3px;
}
#oshigotoArea dd img {
	width:175px;
}
#oshigotoArea h3 {
	margin-bottom:15px;
	}
#voiceArea {
	margin-bottom:15px;
}
#PickUpLessons,
#voiceArea section {
	background-image:url(../images/common/bg_dig02.png);
	padding:10px;
	}
	#PickUpLessons h3,
	#voiceArea h3 {
		border-bottom:none!important;
		font-family: 'Chewy', cursive;
		font-size:2em;
		line-height:1;
		margin-bottom:-10px;
	}
	#voiceArea section div {
		background:#FFF;
	}
	#voiceArea section div dl {
		padding-top:15px;
		}
	#PickUpLessons dt,
	#voiceArea section div dt {
		font-size:15px;
		font-weight:bold;
		margin-bottom:10px;
		}
	#voiceArea section div img {
		height:200px;
		margin-top:-10px;
		margin-right:15px;
		margin-left:10px;
		float:left;
		}
/*20150716追加*/
	#voiceArea section div img.ver2 {
		margin-top:10px;
		}

	#voiceArea section .voiceName {
		color:#666;
		margin-bottom:15px;
		}
	#voiceArea section .voiceName:before {
		content: "●";
		color:#F00;
		}

/*20150512追加*/
	#voiceArea section dd.subTitle {
		color:#666;
		font-size: 13px;
		font-weight: bold;
		padding:4px 0 3px ;
		margin: 0 0 0 10px;
		}
	#voiceArea section dd.voice {
		margin: 0 10px 10px 15px;
		}

/*20150428追加*/
	#voiceArea.gTeacher section div img {
		height:200px;
		margin-top:10px;
		margin-right:15px;
		margin-left:10px;
		float:left;
		}
	#voiceArea.gTeacher dd.subTitle{
		color:#666;
		font-size: 13px;
		font-weight: bold;
		padding:4px 0 3px ;
		margin: 0 0 0 10px;
		}
	#voiceArea.gTeacher dd.voice{
		margin: 0 10px 10px 15px;
		}



/*___ブライダル___*/
.catBridal #Main h2 {
	background:url(../images/course/bg_secondtit_b.png) right bottom no-repeat;
	border-bottom:3px solid #FF6699;
	color:#FF6699;
	}
	.catBridal #Main h2 span {
		background:url(../images/course/front_deco_b.png) left center no-repeat,
		url(../images/course/back_deco_b.png) right center no-repeat;
		}
.catBridal #Main h3 {
	border-bottom:3px solid #FF6699;
	color:#FF6699;
	}
	.catBridal #Main h3 span {
		background:url(../images/course/front_deco_b.png) left center no-repeat,
		url(../images/course/back_deco_b.png) right center no-repeat;
		}
.catBridal #FirstArea dt {
	background:#FF669F;
}
	.catBridal #FirstArea dd {
		border:3px solid #FF669F;
		}

	.catBridal #curricArea .listes li:before,
	.catBridal #curricArea .listes dt:before,
	.catBridal #FirstArea dd li:before {
		content: "●";
		color:#FF669F;
		}
	.catBridal .w-curriculum {
		background:url(../images/course/ico_plus_b.gif) center top no-repeat;
		}

.catBridal #PickUpLessons,
.catBridal #voiceArea section {
	background-color:#FF669F;
	}
.catBridal #oshigotoArea dt {
	background:#FCDCE3;
	}
.catBridal #voiceArea h3 {		
		color:#FF669F;
		}
.catBridal #PickUpLessons dt,
.catBridal #voiceArea section div dt {
		color:#FF669F;
		}
.catBridal #voiceArea section .voiceName:before {		
		color:#FF669F;
		}

/*20150513追加*/
.catBridal #voiceArea.gTeacher dd.subTitle{
		color:#FF669F;
		}
.catBridal #voiceArea section dd.subTitle {
		color:#FF669F;
		}

.catBridal .SubHeadTit {
	color:#FF6699;	
	}

/*___セレモニー___*/
.catCeremony #Main h2 {
	background:url(../images/course/bg_secondtit_c.png) right bottom no-repeat;
	border-bottom:3px solid #813D7B;
	color:#813D7B;
	}
	.catCeremony #Main h2 span {
		background:url(../images/course/front_deco_c.png) left center no-repeat,
		url(../images/course/back_deco_c.png) right center no-repeat;
		}
.catCeremony #Main h3 {
	border-bottom:3px solid #813D7B;
	color:#813D7B;
	}
	.catCeremony #Main h3 span {
		background:url(../images/course/front_deco_c.png) left center no-repeat,
		url(../images/course/back_deco_c.png) right center no-repeat;
		}
.catCeremony #FirstArea dt {
	background:#813D7B;
}
	.catCeremony #FirstArea dd {
		border:3px solid #813D7B;
		}
	.catCeremony #curricArea .listes li:before,
	.catCeremony #curricArea .listes dt:before,
	.catCeremony #FirstArea dd li:before {
		content: "●";
		color:#813D7B;
		}
	.catCeremony .w-curriculum {
		background:url(../images/course/ico_plus_c.gif) center top no-repeat;
		}

.catCeremony #oshigotoArea dt {
	background:#F8E3FD;
	}
.catCeremony #PickUpLessons,
.catCeremony #voiceArea section {
	background-color:#813D7B;
	}
.catCeremony #voiceArea h3 {		
		color:#813D7B;
		}

.catCeremony #PickUpLessons dt,
.catCeremony #voiceArea section div dt {
		color:#813D7B;
		}
.catCeremony #voiceArea section .voiceName:before {		
		color:#813D7B;
		}

/*20150511追加*/
.catCeremony #voiceArea.gTeacher dd.subTitle{
		color:#813D7B;
		}
.catCeremony #voiceArea section dd.subTitle {
		color:#813D7B;
		}
.catCeremony .SubHeadTit {
	color:#813D7B;
	}



/*___ホテル___*/
.catHotel #Main h2 {
	background:url(../images/course/bg_secondtit_h.png) right bottom no-repeat;
	border-bottom:3px solid #5CC120;
	color:#5CC120;
	}
	.catHotel #Main h2 span {
		background:url(../images/course/front_deco_h.png) left center no-repeat,
		url(../images/course/back_deco_h.png) right center no-repeat;
		}
.catHotel #Main h3 {
	border-bottom:3px solid #5CC120;
	color:#5CC120;
	}
	.catHotel #Main h3 span {
		background:url(../images/course/front_deco_h.png) left center no-repeat,
		url(../images/course/back_deco_h.png) right center no-repeat;
		}
.catHotel #FirstArea dt {
	background:#5CC120;
}
	.catHotel #FirstArea dd {
		border:3px solid #5CC120;
		}
	.catHotel #curricArea .listes li:before,
	.catHotel #curricArea .listes dt:before,
	.catHotel #FirstArea dd li:before {
		content: "●";
		color:#5CC120;
		}
	.catHotel .w-curriculum {
		background:url(../images/course/ico_plus_h.gif) center top no-repeat;
		}
.catHotel #oshigotoArea dt {
	background:#ECFBE3;
	}
.catHotel #PickUpLessons,
.catHotel #voiceArea section {
	background-color:#5CC120;
	}
.catHotel #voiceArea h3 {		
		color:#5CC120;
		}
.catHotel #PickUpLessons dt,
.catHotel #voiceArea section div dt {
		color:#5CC120;
		}
.catHotel #voiceArea section .voiceName:before {		
		color:#5CC120;
		}

/*20150716追加*/
.catHotel #voiceArea.gTeacher dd.subTitle{
		color:#5CC120;
		}
.catHotel #voiceArea section dd.subTitle {
		color:#5CC120;
		}


/*___トラベル___*/
.catTravel #Main h2 {
	background:url(../images/course/bg_secondtit_t.png) right bottom no-repeat;
	border-bottom:3px solid #FFAC11;
	color:#FFAC11;
	}
	.catTravel #Main h2 span {
		background:url(../images/course/front_deco_t.png) left center no-repeat,
		url(../images/course/back_deco_t.png) right center no-repeat;
		}
.catTravel #Main h3 {
	border-bottom:3px solid #FFAC11;
	color:#FFAC11;
	}
	.catTravel #Main h3 span {
		background:url(../images/course/front_deco_t.png) left center no-repeat,
		url(../images/course/back_deco_t.png) right center no-repeat;
		}
.catTravel #FirstArea dt {
	background:#FFAC11;
}
	.catTravel #FirstArea dd {
		border:3px solid #FFAC11;
		}
	.catTravel #curricArea .listes li:before,
	.catTravel #curricArea .listes dt:before,
	.catTravel #FirstArea dd li:before {
		content: "●";
		color:#FFAC11;
		}
	.catTravel .w-curriculum {
		background:url(../images/course/ico_plus_t.gif) center top no-repeat;
		}
.catTravel #oshigotoArea dt {
	background:#FFF6D3;
	}
.catTravel #PickUpLessons,
.catTravel #voiceArea section {
	background-color:#FFAC11;
	}
.catTravel #voiceArea h3 {		
		color:#FFAC11;
		}

.catTravel #PickUpLessons dt,
.catTravel #voiceArea section div dt {
		color:#FFAC11;
		}
.catTravel #voiceArea section .voiceName:before {		
		color:#FFAC11;
		}
/*20160201追加*/
.catTravel #voiceArea.gTeacher dd.subTitle{
		color:#FFAC11;
		}
.catTravel #voiceArea section dd.subTitle {
		color:#FFAC11;
		}

	.catTravel .SubHeadTit {
		color:#FFAC11;
		}



/*___エアライン___*/
.catAirLine #Main h2 {
	background:url(../images/course/bg_secondtit_a.png) right bottom no-repeat;
	border-bottom:3px solid #3ABFF0;
	color:#3ABFF0;
	}
	.catAirLine #Main h2 span {
		background:url(../images/course/front_deco_a.png) left center no-repeat,
		url(../images/course/back_deco_a.png) right center no-repeat;
		}
.catAirLine #Main h3 {
	border-bottom:3px solid #3ABFF0;
	color:#3ABFF0;
	}
	.catAirLine #Main h3 span {
		background:url(../images/course/front_deco_a.png) left center no-repeat,
		url(../images/course/back_deco_a.png) right center no-repeat;
		}
.catAirLine #FirstArea dt {
	background:#3ABFF0;
}
	.catAirLine #FirstArea dd {
		border:3px solid #3ABFF0;
		}
	.catAirLine #curricArea .listes li:before,
	.catAirLine #curricArea .listes dt:before,
	.catAirLine #FirstArea dd li:before {
		content: "●";
		color:#3ABFF0;
		}
	.catAirLine .w-curriculum {
		background:url(../images/course/ico_plus_a.gif) center top no-repeat;
		}

.catAirLine #PickUpLessons,
.catAirLine #voiceArea section {
	background-color:#3abff0;
	}
.catAirLine #oshigotoArea dt {
	background:#E7FAFA;
	}
.catAirLine #voiceArea h3 {		
		color:#3ABFF0;
		}

.catAirLine #PickUpLessons dt,
.catAirLine #voiceArea section div dt {
		color:#3ABFF0;
		}
.catAirLine #voiceArea section .voiceName:before {		
		color:#3ABFF0;
		}
/*20150428追加*/
.catAirLine  #voiceArea.gTeacher dd.subTitle{
		color: #3abff0;
		}
.catAirLine  #voiceArea section dd.subTitle {
		color: #3abff0;
		}
#PickUpLessons h3 {
	color:#FFF!important;
	padding-top:0;
	}
#PickUpLessons img {
	width:220px;
}
	#PickUpLessons div {
		background:#FFF;
		padding:10px;
		width:240px;
		float:left;
		box-sizing:border-box;
		margin-right:10px;
		}
	#PickUpLessons div:last-child {
		margin-right:0;
		}

/*メイン画像指定*/
#FirstArea.bridal_01 {
	background:url(../images/course/bridal_planner/bg.png) left top no-repeat;
	}
#FirstArea.bridal_02 {
	background:url(../images/course/bridal_stylist/bg.png) left top no-repeat;
	}
#FirstArea.bridal_03 {
	background:url(../images/course/bridal_beauty/bg.png) left top no-repeat;
	}
#FirstArea.bridal_04 {
	background:url(../images/course/bridal_flower/bg.png) left top no-repeat;
	}

#FirstArea.bridal_05 {
	background:url(../images/course/bridal/bg.png) left top no-repeat;
	}
#FirstArea.bridal_06 {
	background:url(../images/course/bridal_ceremony/bg.png) left top no-repeat;
	}

#FirstArea.ceremony_01 {
	background:url(../images/course/ceremony_director/bg.png) left top no-repeat;
	}
#FirstArea.ceremony_02 {
	background:url(../images/course/bridal_ceremony_management/bg.png) left top no-repeat;
	}
#FirstArea.ceremony_03 {
	background:url(../images/course/hotel_ceremony_management/bg.png) left top no-repeat;
	}

#FirstArea.hotel_01 {
	background:url(../images/course/hotel_management/bg.png) left top no-repeat;
	}
#FirstArea.hotel_02 {
	background:url(../images/course/hotel_management_culinary/bg.png) left top no-repeat;
	}
#FirstArea.hotel_03 {
	background:url(../images/course/hotel_innsmanagement/bg.png) left top no-repeat;
	}
#FirstArea.hotel_04 {
	background:url(../images/course/restaurant_management/bg.png) left top no-repeat;
	}
#FirstArea.hotel_05 {
	background:url(../images/course/sommelier/bg.png) left top no-repeat;
	}

/*20160129追加　ここから*/
#FirstArea.hotel_06 {
	background:url(../images/course/hotel_bridal/bg.png) left top no-repeat;
	}
#FirstArea.hotel_07 {
	background:url(../images/course/hotel_abroad/bg.png) left top no-repeat;
	}
/*20160129追加　ここまで*/

#FirstArea.travel_01 {
	background:url(../images/course/travel_management/bg.png) left top no-repeat;
	}
#FirstArea.travel_02 {
	background:url(../images/course/travel_leisure/bg.png) left top no-repeat;
	}
#FirstArea.travel_03 {
	background:url(../images/course/tour_conductor/bg.png) left top no-repeat;
	}
#FirstArea.travel_04 {
	background:url(../images/course/tour_planner/bg.png) left top no-repeat;
	}

/*20160201追加　ここから*/
#FirstArea.travel_05 {
	background:url(../images/course/railroad/bg.png) left top no-repeat;
	}
#FirstArea.travel_06 {
	background:url(../images/course/travel/bg.png) left top no-repeat;
	}
/*20160201追加　ここまで*/

#FirstArea.airline_01 {
	background:url(../images/course/cabin_attendant/bg.png) left top no-repeat;
	}
#FirstArea.airline_02 {
	background:url(../images/course/ground_staff/bg.png) left top no-repeat;
	}
/*20160201追加　ここから*/
#FirstArea.airline_03 {
	background:url(../images/course/airline/bg.png) left top no-repeat;
	}
/*20160201追加　ここまで*/


/*サブナビ_________________________________*/
#Sub h4 {
	text-align:center;
	}
	#Sub ul li:last-child {
		border-bottom:none;
	}
/*ブライダル*/
#SideNavB ul {
	width:198px;
	border:1px solid #FF6699;
	margin:0 auto 10px auto;
	background:#FFF;
	border-radius:0 0 5px 5px;
	}
#SideNavB li {
		margin:0 3px;
		border-bottom:1px dotted #FF6699; 
	}
	#SideNavB li a {
		display:block;
		padding:10px 0 10px 25px;
		background:url(../images/course/arrowB.gif) 2px center no-repeat;
		}
/*セレモニー*/
#SideNavC ul {
	width:198px;
	border:1px solid #813D7B;
	margin:0 auto 10px auto;
	background:#FFF;
	border-radius:0 0 5px 5px;
	}
#SideNavC li {
		margin:0 3px;
		border-bottom:1px dotted #813D7B; 
	}
	#SideNavC li a {
		display:block;
		padding:10px 0 10px 25px;
		background:url(../images/course/arrowC.gif) 2px center no-repeat;
		}
/*ホテル＆リゾート*/
#SideNavH ul {
	width:198px;
	border:1px solid #5CC120;
	margin:0 auto 10px auto;
	background:#FFF;
	border-radius:0 0 5px 5px;
	}
#SideNavH li {
		margin:0 3px;
		border-bottom:1px dotted #5CC120; 
	}
	#SideNavH li a {
		display:block;
		padding:10px 0 10px 25px;
		background:url(../images/course/arrowH.gif) 2px center no-repeat;
		}
/*トラベル＆レジャー*/
#SideNavT ul {
	width:198px;
	border:1px solid #FFAC11;
	margin:0 auto 10px auto;
	background:#FFF;
	border-radius:0 0 5px 5px;
	}
#SideNavT li {
		margin:0 3px;
		border-bottom:1px dotted #FFAC11; 
	}
	#SideNavT li a {
		display:block;
		padding:10px 0 10px 25px;
		background:url(../images/course/arrowT.gif) 2px center no-repeat;
		}

/*エアライン*/
#SideNavA ul {
	width:198px;
	border:1px solid #3ABFF0;
	margin:0 auto 10px auto;
	background:#FFF;
	border-radius:0 0 5px 5px;
	}
#SideNavA li {
		margin:0 3px;
		border-bottom:1px dotted #3ABFF0; 
	}
	#SideNavA li a {
		display:block;
		padding:10px 0 10px 25px;
		background:url(../images/course/arrowA.gif) 2px center no-repeat;
		}
#appliArea {
	background: url(../images/common/bg_dot.png) left top;
	border-radius: 3px;
	padding: 20px 25px;
	margin-top:30px;
	}
#appliArea a:hover {
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
	}

/*海外留学制度*/
#OverSeaArea h4 {
	width:170px;
	float:left;
	}
#OverSeaArea h3 {
	padding:0;
	border:none;
	}
#OverSeaArea dl {
	display:inline-block;
	float:left;
	text-align:center;
	margin-right:10px;
	}
#OverSeaArea .oneOverSea {
	padding:20px 0;
	border-top:1px dotted #5CC120;
}
	#OverSeaArea .oneOverSea:first-child {
		border:none;
	}
#OverSeaArea .odd {
	background:#ECFBE3;
}
.areaQueensland {
	background: url(../images/course/oversea/bg_yer2.png) right bottom no-repeat;
	padding:0 10px 5px 10px;
	}
#titYer02 {
	color:#59BF1F;
	text-align:center;
	font-size:244%;
	}
#OverSeaArea .contentCicle li:before {
	content: "●";
	color:#5BC01F;
	}

/*ワーク＆スタディプログラム（ホテル）*/
.catHotel #Main #workStudyArea dl {
	margin:20px 0;
	}
.catHotel #Main #workStudyArea dt {
	background:#5cc120;
	display:inline;
	border-radius: 5px;        
	-moz-border-radius: 5px;   
	-webkit-border-radius: 5px; 
	color: #FFF;
	font-weight:bold;
	padding:5px 10px;
	}



/*コーストップ*/
.oneWorldInner {
	padding:15px 20px 10px 20px;
	min-height:300px;
}
.oneWorldInner p {
	margin-bottom:20px;
}
.oneWorld {
	margin:0 0 20px 0;
	}
.oneWorld h2 {
	font-size:182%;
	color:#FFF;
	margin-bottom:2px;
	}
.oneWorld h2 span {
	font-size:54%;
	color:#171717;
	border-radius:3px;
	padding:2px 8px 0 8px;
	margin-left:10px;
}
.oneWorld ul {
	width:544px;
}
.oneWorld li {
	float:left;
	margin:0 20px 20px 0;
	}
	.oneWorld li a:hover img {
		opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=75); /* IE lt 8 */
		-ms-filter: "alpha(opacity=75)"; /* IE 8 */
		-khtml-opacity: .75; /* Safari 1.x */
		-moz-opacity: .75; /* FF lt 1.5, Netscape */
		}
	
	.oneWorldInner p {
	text-shadow:
			-1px -1px #FFF,
			1px -1px #FFF,
			-1px 1px #FFF,
			1px 1px #FFF;
			}

#indexBridal .oneWorldInner > div,
#indexCeremony .oneWorldInner > div,
#indexTravel .oneWorldInner > div {
	width:544px;
	float:right;
	margin-right:-20px;
	}
	
/*ブライダル*/	
#indexBridal .oneWorldInner {
	background:url(../images/course/indexBridal.jpg) left bottom no-repeat;
	border:3px solid #FF6699;
	}
#indexBridal h2 {
	background:#FF6699;
	padding:10px 20px 8px 20px;
	}
	#indexBridal h2 span {
		background:#FFD2E0;
	}
/*セレモニー*/	
#indexCeremony .oneWorldInner {
	background:url(../images/course/indexCeremony.jpg) left bottom no-repeat;
	border:3px solid #6C418A;
	}
#indexCeremony h2 {
	background:#6C418A;
	padding:10px 20px 8px 20px;
	}
	#indexCeremony h2 span {
		background:#E4DBEC;
	}
/*ホテル*/	
#indexHotel .oneWorldInner {
	background:url(../images/course/indexHotel.jpg) left bottom no-repeat;
	border:3px solid #79C52E;
	}
#indexHotel h2 {
	background:#79C52E;
	padding:10px 20px 8px 20px;
	}
	#indexHotel h2 span {
		background:#D8F0BF;
	}
/*トラベル*/	
#indexTravel .oneWorldInner {
	background:url(../images/course/indexTravel.jpg) left bottom no-repeat;
	border:3px solid #FF9A02;
	}
#indexTravel h2 {
	background:#FF9A02;
	padding:10px 20px 8px 20px;
	}
	#indexTravel h2 span {
		background:#FFE9C8;
	}
/*エアライン*/	
#indexAirline .oneWorldInner {
	background:url(../images/course/indexAirline.jpg) left bottom no-repeat;
	border:3px solid #3ABFF0;
	}
#indexAirline h2 {
	background:#3ABFF0;
	padding:10px 20px 8px 20px;
	}
	#indexAirline h2 span {
		background:#C8F1FF;
	}
/*ポイント*/
.Points dt {
	/*background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);*/
	background-color:#ff669f;
	background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent);
	background-size: 20px 20px;/*数字を大きくすれば太く、小さくすれば細くなります。*/
	padding:10px;

	line-height:30px;
	color:#FFF;
	border-radius:5px 5px 0 0;
	margin:10px 0 0 0;
	padding:0 0 0 10px;
	font-size:130%;
}
	.Points dd {
		border:1px solid #FFE0E9;
		padding:15px;
		font-size:125%;
		text-align:center;
		}
	.Points dd ol {
		display:inline-table;
		width:100%;
	}
	.Points dd li {
		line-height:0.9;
		text-align:left;
	}
	.Points em {
		 font-family: "Romanesco";
		 font-size:250%;
		 color:#ff669f;
		}
	.Points dt em {
		 font-size:400%;
		}

/* Box Height
------------------------- */
#PickUpLessons:after,
#voiceArea section div:after,
#oshigotoArea:after,
.oneWorldInner:after,
.oneOverSea:after,
#appliArea:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
	* html #PickUpLessons,
	* html #voiceArea section div,
	* html #oshigotoArea,
	* html .oneWorldInner,
	* html .oneOverSea,
	* html #appliArea {
		zoom: 1;
	} /* IE6 */
	
	*:first-child+html #PickUpLessons,
	*:first-child+html #voiceArea section div,
	*:first-child+html #oshigotoArea,
	*:first-child+html .oneWorldInner,
	*:first-child+html .oneOverSea,
	*:first-child+html #appliArea {
		zoom: 1;
	} /* IE7 */
