@charset "utf-8";

	#SPMain dt{
		margin-bottom:10px;
	}
	#SPMain dd{
		margin-bottom:20px;
	}
	
	#SPSub {
	background-color:#FFF;
	}
	

	#SPSub li {
		list-style:none;
		border-bottom:1px dotted #d2d2d2;
	}
	#SPSub li a {
		display:block;
		text-decoration:none;
		background:url(../images/event/special/arrow.png) right center no-repeat;
		padding:10px 15px 10px 0 ;
		word-break:break-all;
		word-wrap: break-word;			
		overflow:hidden;
	}
	#SPSub li a:hover {
		background:url(../images/event/special/arrow.png) right center no-repeat;
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=75); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .75; /* Safari 1.x */
	-moz-opacity: .75; /* FF lt 1.5, Netscape */
	}
	#SPSub li a p {
		text-decoration:none;
	}
	#SPSub li a p span {
		font-size:0.8em;
		color:#666;
	}
	#SPSub li img {
		float:left;
		margin-right:5px;
		margin-left:5px;
	}
