@charset "utf-8";

.IndexKikaku li {
	display:table-cell;
	}
.inviTable {
	width:100%;
	}
.inviTable td,
.inviTable th {
	border:1px solid #CCC;
	padding:5px;
	}
.inviTable th {
	background:#DDD;
	}
.interview dt {
	background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);
	
	line-height:30px;
	color:#FFF;
	border-radius:5px 5px 0 0;
	margin:10px 0 0 0;
	padding:0 0 0 10px;
	}
.interview dd {
		border:1px solid #CCCCCC;
		padding:15px;
	}

/* 出願について
----------------------------------------------------*/
.inviConfig dl {
	margin-bottom:30px;
}
.inviConfig dt {
	 background:#DFDFDF;
	 padding:5px;
	 margin-bottom:10px;
	}

/* 出願から入学までの手順
----------------------------------------------------*/
.flow2arrow1 {
	background-image: url(images/flow2_arrow01.jpg);
	background-repeat: no-repeat;
	background-position: 20px bottom;
}
.flow2arrow2 {
	background-image: url(images/flow2_arrow02.jpg);
	background-repeat: no-repeat;
	background-position: 20px bottom;
}
.flow2Left {
	padding:5px 0 0 0;
	margin:0px;
	width:114px;
	float:left;
	text-align:center;
}
.flow2right {
	padding:0px;
	margin:0px;
	width:570px;
	float:right;
}
.flow2table {
	width: 100%;
  	border-spacing: 0;
	margin:5px 0;
}
.flow2table tr th,
.flow2table tr td  {
  padding: 5px;
  border:1px solid #CCCCCC;
  text-align: center;
  vertical-align:middle;
}
.flow2table th {
  background: #FDEEF4;
  font-weight: bold;
}
.flow2table tr {
  background: #fff;
}
.flow2table tr.even {
  background: #f1f6fc;
}

/* 書類記入方法
----------------------------------------------------*/
.paper {
	
	}

/* 熊本地震学費免除ボックス */
.top_box {
	background-color: #fff;border: 1px solid #cccccc;margin: 10px 0;padding: 17px; text-align:center;
}
