@charset "utf-8";

.IndexKikaku li {
	display:table-cell;
	}
.IndexSea {
	width:400px;
	float:right;
}
.Points {
	width:400px;
	}
	  .Points dt {
	background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);

		line-height:30px;
		color:#FFF;
		border-radius:5px 5px 0 0;
		margin:10px 0 0 0;
		padding:0 0 0 10px;
		}
	.Points dd {
	background:#FEE7FD;
	border:1px solid #FED3FC;
	padding:10px;
		}
/*	.Points dd li {
		line-height:1;
	}
*/	
	
	.Points dd li {
		text-indent:-1em;
		padding-left:0.9em;
	}
	.Points dd li:before {
		content:"●";
		color:#88167E;
	}
	.Points dd li em {
		 font-family: "Romanesco";
		 font-size:250%;
		}

#internCatch {
	background:url(../images/job/internship/bg.png) left top no-repeat;
	padding:10px;
	}
#internCatch h3 {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:260%;
	margin-top:-3em;
}
#internCatch dl {
	margin-top:220px;
	width:320px;
	}
#internCatch dt {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:200%;
	border-bottom:1px solid #000;
	margin-bottom:10px;
}
h3#exCatch {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:260%;
}
.exp_leadimg{
	margin:30px 0 0 40px;
}
.exp_leadimg img{
	margin-left:10px;
	margin-bottom:10px;
}
.exp_4merit {
	margin-left:-20px;
}
.exp_4merit dl {
	width:175px;
	float:left;
	margin:0 0 0 20px;
}
.exp_4merit dt {
	background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);

		line-height:30px;
		color:#FFF;
		border-radius:5px 5px 0 0;
		margin:10px 0 0 0;
		padding:0 0 5px 10px;
		line-height:1.1;
	}
.graduateSystem dt em,
.exp_4merit dt em {
		 font-family: "Romanesco";
		 font-size:240%;
	}


/*career*/
#careerCatch {
	background:url(../images/job/career/bg.png) left top no-repeat;
	padding:10px;
	}
#careerCatch h3 {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:260%;
	margin-top:-3em;
}
#careerCatch dl {
	margin-top:150px;
	width:320px;
	}
#careerCatch dt {
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:200%;
	border-bottom:1px solid #000;
	margin-bottom:10px;
}


.careerSupport dd,
.careerFlow dd,
.graduateSystem dd,
.exp_4merit dd {
	background:#FEE7FD;
	border:1px solid #FED3FC;
	padding:10px;
	}

.careerSupport dt,
.careerFlow dt,
.graduateSystem dt {
	background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);

		line-height:30px;
		color:#FFF;
		border-radius:5px 5px 0 0;
		margin:10px 0 0 0;
		padding:0 0 5px 10px;
	}
	.graduateSystem dd > img {
		float:right;
		margin:0 0 0 15px;
		}
	.careerSupport dd img {
		float:right;
		margin:0 5px 5px;
		/*margin:0 0 0 15px;*/
		}
.careerFlow p,
.careerFlow dl {
	padding-bottom:50px;
	background:url(../images/job/career/arrowDownward.png) center bottom no-repeat;
	}
.careerSupport dl {
	width:370px;
	float:left;
	margin-left:20px;
}
.merit strong {
	color:#FFF;
	background:#FF6699;
	line-height:1;
	display:inline-block;
	border-radius:3px;
	padding:2px 3px;
	margin-right:5px;
	}
.merit em {
		 font-family: "Romanesco";
		 font-size:240%;
	}
/* Box Height
------------------------- */

.IndexSection:after,
.clearfix:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
	* html .IndexSection,
	* html .clearfix {
		zoom: 1;
	} /* IE6 */
	*:first-child+html .IndexSection,
	*:first-child+html .clearfix {
		zoom: 1;
	} /* IE7 */

	#eventSection div a:hover {
		opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
		filter: alpha(opacity=75); /* IE lt 8 */
		-ms-filter: "alpha(opacity=75)"; /* IE 8 */
		-khtml-opacity: .75; /* Safari 1.x */
		-moz-opacity: .75; /* FF lt 1.5, Netscape */
	}