@charset "utf-8";
/* CSS Document */
#clubList {
	margin:10px;
}
#clubList ul {
	display:table;
	table-layout:fixed;
	width:100%;
	}
	#clubList li {
		display:table-cell;
		}
	#dormitoryList li:before,
	#clubList li:before {
		content: "■";
		color:#EAD6F8;
	    }



/*health*/
#Hospital dl {
	width:370px;
	float: left;
	margin: 0 0 0 10px;
	}
#Hospital dl.FirstChild {
	margin:0;
	}
	#Hospital dt {
		background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
		from(#961886), 
		to(#85167C));
		
		background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
		#961886 0, 
		#85167C 100%);
		
		background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
		#961886 0, 
		#85167C 100%);
		
		background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
		#961886 0, 
		#85167C 100%);
		line-height:30px;
		color:#FFF;
		border-radius:5px 5px 0 0;
		margin:10px 0 0 0;
		padding:0 0 0 10px;
		font-size:130%;
	}
	#Hospital dd {
		width:320px;
		margin:15px auto 0 auto;
	}
.Grays {
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

#Clinic .exp_leadimg{
	margin:30px 0 0 40px;
}
#Clinic .exp_leadimg img{
	margin-left:10px;
	margin-bottom:10px;
}
#Clinic .exp_2merit {
	margin-left:0px;
	margin-bottom: 15px;
}
#Clinic .exp_2merit dl {
	width:370px;
	float:left;
	margin:0 0 0 10px;
}
#Clinic .exp_2merit dl.FirstChild {
	margin:0;
}

#Clinic .exp_2merit dt {
	background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);

		line-height:30px;
		color:#FFF;
		border-radius:5px 5px 0 0;
		margin:10px 0 0 0;
		padding:0 0 5px 10px;
		line-height:1.1;
	}
#Clinic .exp_2merit dt em {
		 font-family: "Romanesco";
		 font-size:240%;
	}
#Clinic .exp_2merit dd {
	background:#FEE7FD;
	border:1px solid #FED3FC;
	padding:10px;
	}


/*dormitory*/
.exp_leadimg{
	margin:30px 0 0 40px;
}
.exp_leadimg img{
	margin-left:10px;
	margin-bottom:10px;
}
.exp_5merit {
	margin-left:0px;
}
.exp_5merit dl {
	width:142px;
	float:left;
	margin:0 0 0 10px;
}
.exp_5merit dl.FirstChild {
	margin:0;
}
.exp_5merit dt {
	background:url(../images/common/bg_dig.png) ,-webkit-gradient(linear, center top, center bottom, 
	from(#961886), 
	to(#85167C));
	
	background:url(../images/common/bg_dig.png) , -moz-linear-gradient(top center,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,linear-gradient(to bottom,
	#961886 0, 
	#85167C 100%);
	
	background: url(../images/common/bg_dig.png) ,-ms-linear-gradient(top,
	#961886 0, 
	#85167C 100%);

		line-height:30px;
		color:#FFF;
		border-radius:5px 5px 0 0;
		margin:10px 0 0 0;
		padding:0 0 5px 10px;
		line-height:1.1;
	}
.exp_5merit dt em {
		 font-family: "Romanesco";
		 font-size:240%;
	}
.exp_5merit dd {
	background:#FEE7FD;
	border:1px solid #FED3FC;
	padding:10px;
	}



/*eventcalender*/

#eventCalender table {
	width: 760px;
	border-collapse: collapse;
	margin-bottom: 30px;

}
#eventCalender table tr {
	border-bottom: 1px dotted #b4b4b4;
}

#eventCalender table th {
	width: 110px;
	text-align:center;
	padding: 15px 0 10px;
}

#eventCalender table td {
	padding: 15px 20px 15px 30px;
	text-align:left;
}

#eventCalender table td li {
	font-size: 1.2em;
	margin-bottom: 3px;
}

#eventCalender table td li:last-child {
	margin-bottom: 0;
}

#eventCalender table td li:before {
	content: "●";
}

#eventCalender .firstYear td li {
	color: #ff6699;
}

#eventCalender .secondYear td li {
	color: #3ABFF0;
}


#eventCalender table td li span {
	display:inline-block;
	color:#292929;
	font-size:0.8em;
	padding-left:1em;
}

#eventInner01,
#eventInner02 {
	position: relative;
}


#eventInner01 table {
	border:4px solid #FC508C;
	}
	#eventInner01 td {
		background:#FFE8F0;
		}
#eventInner02 table {
	border:4px solid #30BBEF;
}
	#eventInner02 td {
		background:#EDF9FE;
		}




#eventInner01 .stampBox01,
#eventInner01 .stampBox02,
#eventInner01 .stampBox03,
#eventInner01 .stampBox04,
#eventInner02 .stampBox05,
#eventInner02 .stampBox10 {
	overflow: hidden;
    position: absolute;
}

#eventInner01 .stampBox01{
    right: 10px;
    top: 40px;
}


#eventInner01 .stampBox02{
    right: 30px;
    top: 250px;
}

#eventInner01 .stampBox03{
    right: 30px;
    top: 500px;
}

#eventInner01 .stampBox04{
    right: 10px;
    top: 790px;
}


#eventInner02 .stampBox05{
    right: 20px;
    top:100px;
}

#eventInner02 .stampBox10{
    right: 20px;
    bottom:280px;
}


#eventCalender table th img {
	width:45px;
	height:45px;
}
#eventCalender table th.apr {
	background-color: #A9D06B;
}

#eventCalender table th.may {
	background-color: #6EB92B;
}

#eventCalender table th.jun {
	background-color: #7FCEF4;
}

#eventCalender table th.jul {
	background-color: #52C3F1;
}

#eventCalender table th.aug {
	background-color: #0091DB;
}

#eventCalender table th.sep {
	background-color: #8F82BC;
}

#eventCalender table th.oct {
	background-color: #925DA3;
}

#eventCalender table th.nov {
	background-color: #B864A4;
}

#eventCalender table th.dec {
	background-color: #B60571;
}

#eventCalender table th.jan {
	background-color: #D70C19;
}

#eventCalender table th.feb {
	background-color: #E9536B;
}

#eventCalender table th.mar {
	background-color: #EE859A;
}









