@charset "utf-8";
@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");

/*全ページ共通*/
/*------------------------------*/
body {
	font-size: 12px;
	_font-size: 80%;
	line-height:140%;
	color: #333333;
	padding: 0px;
	background-image: url(../../images/alltop/header_bk.gif);
	background-position: left top;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	margin: 0px;
	background-repeat: repeat-x;
}
#container {
	padding: 0px;
	margin: 0px auto;
	width: 930px;
}
img {
	border:none;
}
.clear {
	clear:both;
	overflow:hidden;
}
.left {
	float: right;
}
.right {
	float: right;
}

.time_area {
	font-size:1.4rem;
	}
/*.clear 使いたくないときのクリア用
.clearを入れたいところの親要素に入れよう
例：ulの中のliをフロートさせているとき
そのフロートを解除させたい場合は
ulに.clearfixをつける。*/
/*------------------------------*/
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix { /*IE用*/
  min-height: 1px;
  _height: 1px;
}
/*.clear 使いたくないときのクリア用ここまで*/
/*------------------------------*/
ul, li, ol, dl, dt, dd {
	margin:0;
	padding:0;
}
li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	_font-size: 80%;
	margin:0;
	padding:0;
}
a {
	color: #FF6600;
}
a:link, a:visited {
	color: #FF6600;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
.slide_area a:hover,
#content a {
	text-decoration:none!important;
}

/*内容部分の白伸ばし用*/
/*------------------------------*/
html{
    height:100%;
}
body{
    height:100%;
}

/*ヘッダ*/
/*------------------------------*/
#header {
	width: 930px;
	background-image: url(../../images/alltop/header_img.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}
#header h1 {
	float: left;
}
#header h1 a{
	background: url(../../images/alltop/header_logo.gif) no-repeat;
	text-indent: -9999px;
	display: block;
	height: 91px;
	width: 269px;
	margin-top: 20px;
	padding: 0px;
	outline: 0px;
}


/*ヘッダー右*/
/*------------------------------*/
#header #rightBox {
	width:505px;
	float: right;
	margin: 0px;
	margin-top: 20px;
}
/*体験・資料請求ボタン*/
#header #rightBox #rightBoxBtn  {
	padding:0px;
	margin: 0px;
	height: 52px;
	margin-right:-3px;
}
#header #rightBox #rightBoxBtn a {
	display:block;
	_display:inline;
	margin-right:3px;
	background-repeat: no-repeat;
	height: 52px;
	width: 124px;
	float: right;
	/*text-indent: -9999px;*/
	overflow: hidden;
	}
#header #rightBox #rightBoxBtn a p {
	text-indent: -9999px;
	}
#header #rightBox #rightBoxBtn a:link, #header div a:visited {
	background-position: left top;

}
#header #rightBox #rightBoxBtn a:hover {
	background-position: left bottom;
}
#header #rightBox #rightBoxBtn a#headerEvent {
	background-image: url(../../images/alltop/header_campus.gif);
	}
#header div a#header_2 {
	background-image: url(../../images/alltop/header_pamphlet.gif);
	}
#header div a#headerOtherSchool {
	background-image: url(../../images/alltop/header_oas.gif);
	}
#header div a#headerAccess {
	background-image: url(../../images/alltop/header_access.gif);
	}



h2#infoH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/in../../images/alltop/category.jpg) no-repeat left top;
}
h2#projectH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/proje../../images/alltop/category.jpg) no-repeat left top;
}
h2#courseH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/cour../../images/alltop/category.jpg) no-repeat left top;
}
h2#jobH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/j../../images/alltop/category.jpg) no-repeat left top;
}
h2#debutH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/deb../../images/alltop/category.jpg) no-repeat left top;
}
h2#applicationH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/applicati../../images/alltop/category.jpg) no-repeat left top;
}
h2#eventH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../eve../../images/alltop/category.jpg) no-repeat left top;
}
h2#sitemapH {
	font-size: 10px;
	width:930px;
	height:0;
	padding-top:82px;
	overflow:hidden;
	background:url(../../school/sitem../../images/alltop/category.jpg) no-repeat left top;
}
/*subナビ*/
ul#subNavi {
	clear:both;
	height: 30px;
	background-image: url(../../images/alltop/global_sub_line.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
ul#subNavi li {
	float:left;
	height: 30px;
}
ul#subNavi a {
	display:block;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
}
ul#subNavi a:link, #subNavi a:visited {
	background-position: top;
}
ul#subNavi a:hover {
	background-position: bottom;
}
ul#subNavi a#sub01 {
	background-image: url(../../images/alltop/global_sub01.gif);
	width: 170px;
}
ul#subNavi a#sub02 {
	background-image: url(../../images/alltop/global_sub02.gif);
	width: 101px;
}
ul#subNavi a#sub03 {
	background-image: url(../../images/alltop/global_sub03.gif);
	width: 102px;
}
ul#subNavi a#sub04 {
	background-image: url(../../images/alltop/global_sub04.gif);
	width: 166px;
}


/*グローバルナビ*/
/*------------------------------*/
ul#globalNavi {
	height:65px;
	width:930px;
	margin-top:10px;
}
ul#globalNavi li {
	float:left;
}
ul#globalNavi li a {
	display:block;
	background-repeat: no-repeat;
	height: 65px;
	text-indent: -9999px;
	overflow: hidden;
	padding:0;
	margin:0;
	line-height:1;
}
ul#globalNavi li a:link,
ul#globalNavi li a:visited {
	background-position: top;
}
ul#globalNavi li a:hover {
	background-position: bottom;
}
ul#globalNavi li#NaviBk {
	width: 118px;
	background-image: url(../../images/alltop/global_home_bk.gif);
	height: 23px;
	padding: 30px 0px 12px 0px;
}
ul#globalNavi li a#gnHome {
	width: 92px;
	background-image: url(../../images/alltop/global_home.gif);
	height: 22px;
}
ul#globalNavi li a#gnSchool {
	width: 123px;
	height: 65px;
	background-image: url(../../images/alltop/global_school.gif);
}
ul#globalNavi li a#gnLecture {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_lecture.gif);
}
ul#globalNavi li a#gnProject {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_project.gif);
}
ul#globalNavi li a#gnCourse {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_course.gif);
}
ul#globalNavi li a#gnBusiness {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_business.gif);
}
ul#globalNavi li a#gnJob {
	width: 114px;
	height: 65px;
	background-image: url(../../images/alltop/global_job.gif);
}
ul#globalNavi li a#gnInvitation {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_invitation.gif);
}

/*ターゲットナビ*/
/*------------------------------*/
ul#targetNavi {
	height: 22px;
	clear:both;
	background-image: url(../../images/alltop/targetNav_back.gif);
	width: 930px;
}
ul#targetNavi li {
	float:left;
	margin-left: 15px;
}
ul#targetNavi a {
	display:block;
	background-repeat: no-repeat;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
}
ul#targetNavi a:link, #targetNavi a:visited {
	background-position: left top;
}
ul#targetNavi a:hover {
	background-position: left bottom;
}
ul#targetNavi a#forFreeter {
	background-image: url(../../images/alltop/target_freeter.gif);
	width:149px;
}
ul#targetNavi a#forParent {
	background-image: url(../../images/alltop/target_for-parent.gif);
	width:81px;
}
ul#targetNavi a#forCompany {
	background-image: url(../../images/alltop/target_for-company.gif);
	width:126px;
}
ul#targetNavi a#forTeacher {
	background-image: url(../../images/alltop/target_for-teacher.gif);
	width:114px;
}
ul#targetNavi a#Graduate {
	background-image: url(../../images/alltop/target_graduate.gif);
	width:113px;
}

/*内容*/
/*------------------------------*/
#contents {
}
/*メニュー*/
/*------------------------------*/

.boxNormal {
	border: 1px solid #CCCCCC;
	text-align: center;
	padding: 17px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.lineNomal {
	background-image: url(../../images/alltop/lineNormal.jpg);
	background-repeat: no-repeat;
	height: 9px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
/*h2 {
	font-size: 14px;
	_font-size: 110%;
	line-height: 140%;
	color: #A28042;
}*/

/*フッター*/
/*------------------------------*/

#footer a {
	text-decoration: none;
}
#footer a:link, #footer a:visited {
	color:#FFFFFF;
}
#footer a:hover {
	text-decoration: underline;
}
#footer {
	clear: both;
	color: #333333;
	margin: 0px;
	padding: 0px;
	width: 930px;
	height: 131px;
	position:relative;
	background-image: url(../../images/alltop/footer_img.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
#footer #qr {
	font-size: 10px;
	_font-size: 80%;
	margin: 0em;
	padding: 0px;
	width: 164px;
	text-align: right;
	line-height: 0px;
	height: 53px;
	float: right;
	position: relative;
	right: 20px;
	top: 40px;
	left: auto;
	bottom: auto;
}
#Fnavi {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	width: 766px;
	margin-top: 16px;
	position:relative;
}
#Fnavi li {
	display:inline;
	float: left;
	background-image: url(../../images/alltop/footer_arrow.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 20px;
	margin-left: 8px;
}
#Fnavi li.lastChild {
	background:none;
	margin:0;
	padding:0;
	position:absolute;
	top:-5px;
	left:565px;
}

/*footer-index.htmlバージョン*/
/*------------------------------*/

#footer address {
	position:absolute;
	left: 10px;
	bottom: 6px;
	vertical-align: bottom;
	background-repeat: repeat-y;
	color: #FE8F1B;
	width: 920px;
	font-size:10px;
	font-weight:normal;
	font-style:normal;
}
#footer address span.left {
	display:block;
	float:left;
	width:550px;
}
#footer address span.right {
	display:block;
	float:right;
	text-align:right;
	width:300px;
	padding-right:10px;
}
#footer address a:link {
	color: #FE8F1B;
}
#footer address a:visited {
	color: #FE8F1B;
}

#footer #sisterschool {
	float: left;
	padding-left: 37px;
	bottom: 0px;
	}
#footer #sisterschool li {
	display:inline;
	float: left;
	margin-left:4px;
	}
#footer #sisterschool a {
text-indent: -9999px;
	}
#footer #sisterschool a#DAS {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_oas.gif);
	}
#footer #sisterschool a#DASVoice {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_oas_voice.gif);
	}
#footer #sisterschool a#ArtistArtist {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_artist.gif);
	}
#footer #sisterschool a#Sapporo {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_sapporo.gif);
	}
#footer #sisterschool a#DAS:link, #footer #sisterschool a#DAS:visited,
#footer #sisterschool a#DASVoice:link, #footer #sisterschool a#DASVoice:visited,
#footer #sisterschool a#ArtistArtist:link, #footer #sisterschool a#ArtistArtist:visited,
#footer #sisterschool a#Sapporo:link, #footer #sisterschool a#Sapporo:visited {
	background-position: top;
}
#footer #sisterschool a#DAS:hover,
#footer #sisterschool a#DASVoice:hover,
#footer #sisterschool a#ArtistArtist:hover,
#footer #sisterschool a#Sapporo:hover {
	background-position: bottom;
}
#footer #qr {
	position: relative;
	top: 36px;
	right: 0px;
	clear: none;
}
#searchform{
	width: 270px;
	height: 20px;
	background-image: url(../../images/alltop/search_window.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	margin-top: 20px;
}
#cse-search-box{
	width: 270px;
	height: 20px;
	background-image: url(../../images/alltop/search_window.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	margin-top: 20px;
}
#cse-search-box #q{
    border: 0px;
    margin: 3px 16px 0px 13px;
	padding: 0px;
    float: left;
    width: 160px;
}
#cse-search-box .ibutton{
	float:left;
	width:75px;
	height:20px;
	background:url(../../images/alltop/btn_search.gif);
	cursor:pointer;
	border:none;
	}
#cse-search-box .ibutton_on{
	float:left;
	width:75px;
	height:20px;
	background:url(../../images/alltop/btn_search_on.gif);
	cursor:pointer;
	border:none;
	}

/*全ページ共通*/
/*------------------------------*/
body {
	font-size: 12px;
	_font-size: 80%;
	line-height:140%;
	color: #333333;
	padding: 0px;
	background-image: url(../../images/alltop/header_bk.gif);
	background-position: left top;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	margin: 0px;
	background-repeat: repeat-x;
}
#container {
	padding: 0px;
	margin: 0px auto;
	width: 930px;
}
img {
	border:none;
}
.clear {
	clear:both;
	overflow:hidden;
}
.left {
	float: right;
}
.right {
	float: right;
}

/*.clear 使いたくないときのクリア用
.clearを入れたいところの親要素に入れよう
例：ulの中のliをフロートさせているとき
そのフロートを解除させたい場合は
ulに.clearfixをつける。*/
/*------------------------------*/
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix { /*IE用*/
  min-height: 1px;
  _height: 1px;
}
/*.clear 使いたくないときのクリア用ここまで*/
/*------------------------------*/
ul, li, ol, dl, dt, dd {
	margin:0;
	padding:0;
}
li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	_font-size: 80%;
	margin:0;
	padding:0;
}
a {
	color: #FF6600;
}
a:link, a:visited {
	color: #FF6600;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}

/*内容部分の白伸ばし用*/
/*------------------------------*/
html{
    height:100%;
}
body{
    height:100%;
}

/*ヘッダ*/
/*------------------------------*/
#header {
	width: 930px;
	background-image: url(../../images/alltop/header_img.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}
#header h1 {
	float: left;
}
#header h1 a{
	background: url(../../images/alltop/header_logo.gif) no-repeat;
	text-indent: -9999px;
	display: block;
	height: 91px;
	width: 269px;
	margin-top: 20px;
	padding: 0px;
	outline: 0px;
}


/*ヘッダー右*/
/*------------------------------*/
#header #rightBox {
	width:505px;
	float: right;
	margin: 0px;
	margin-top: 20px;
}
/*体験・資料請求ボタン*/
#header #rightBox #rightBoxBtn  {
	padding:0px;
	margin: 0px;
	height: 52px;
	margin-right:-3px;
}
#header #rightBox #rightBoxBtn a {
	display:block;
	_display:inline;
	margin-right:3px;
	background-repeat: no-repeat;
	height: 52px;
	width: 124px;
	float: right;
	/*text-indent: -9999px;*/
	overflow: hidden;
	}
#header #rightBox #rightBoxBtn a p {
	text-indent: -9999px;
	}
#header #rightBox #rightBoxBtn a:link, #header div a:visited {
	background-position: left top;

}
#header #rightBox #rightBoxBtn a:hover {
	background-position: left bottom;
}
#header #rightBox #rightBoxBtn a#headerEvent {
	background-image: url(../../images/alltop/header_campus.gif);
	}
#header div a#header_2 {
	background-image: url(../../images/alltop/header_pamphlet.gif);
	}
#header div a#headerOtherSchool {
	background-image: url(../../images/alltop/header_oas.gif);
	}
#header div a#headerAccess {
	background-image: url(../../images/alltop/header_access.gif);
	}

/*subナビ*/
ul#subNavi {
	clear:both;
	height: 30px;
	background-image: url(../../images/alltop/global_sub_line.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
ul#subNavi li {
	float:left;
	height: 30px;
}
ul#subNavi a {
	display:block;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
}
ul#subNavi a:link, #subNavi a:visited {
	background-position: top;
}
ul#subNavi a:hover {
	background-position: bottom;
}
ul#subNavi a#sub01 {
	background-image: url(../../images/alltop/global_sub01.gif);
	width: 170px;
}
ul#subNavi a#sub02 {
	background-image: url(../../images/alltop/global_sub02.gif);
	width: 101px;
}
ul#subNavi a#sub03 {
	background-image: url(../../images/alltop/global_sub03.gif);
	width: 102px;
}
ul#subNavi a#sub04 {
	background-image: url(../../images/alltop/global_sub04.gif);
	width: 166px;
}


/*グローバルナビ*/
/*------------------------------*/
ul#globalNavi {
	height:65px;
	width:930px;
	margin-top:10px;
}
ul#globalNavi li {
	float:left;
}
ul#globalNavi li a {
	display:block;
	background-repeat: no-repeat;
	height: 65px;
	text-indent: -9999px;
	overflow: hidden;
	padding:0;
	margin:0;
	line-height:1;
}
ul#globalNavi li a:link,
ul#globalNavi li a:visited {
	background-position: top;
}
ul#globalNavi li a:hover {
	background-position: bottom;
}
ul#globalNavi li#NaviBk {
	width: 118px;
	background-image: url(../../images/alltop/global_home_bk.gif);
	height: 23px;
	padding: 30px 0px 12px 0px;
}
ul#globalNavi li a#gnHome {
	width: 92px;
	background-image: url(../../images/alltop/global_home.gif);
	height: 22px;
}
ul#globalNavi li a#gnSchool {
	width: 123px;
	height: 65px;
	background-image: url(../../images/alltop/global_school.gif);
}
ul#globalNavi li a#gnLecture {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_lecture.gif);
}
ul#globalNavi li a#gnProject {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_project.gif);
}
ul#globalNavi li a#gnCourse {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_course.gif);
}
ul#globalNavi li a#gnBusiness {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_business.gif);
}
ul#globalNavi li a#gnJob {
	width: 114px;
	height: 65px;
	background-image: url(../../images/alltop/global_job.gif);
}
ul#globalNavi li a#gnInvitation {
	width: 115px;
	height: 65px;
	background-image: url(../../images/alltop/global_invitation.gif);
}

/*ターゲットナビ*/
/*------------------------------*/
ul#targetNavi {
	height: 22px;
	clear:both;
	background-image: url(../../images/alltop/targetNav_back.gif);
	width: 930px;
}
ul#targetNavi li {
	float:left;
	margin-left: 15px;
}
ul#targetNavi a {
	display:block;
	background-repeat: no-repeat;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
}
ul#targetNavi a:link, #targetNavi a:visited {
	background-position: left top;
}
ul#targetNavi a:hover {
	background-position: left bottom;
}
ul#targetNavi a#forFreeter {
	background-image: url(../../images/alltop/target_freeter.gif);
	width:149px;
}
ul#targetNavi a#forParent {
	background-image: url(../../images/alltop/target_for-parent.gif);
	width:81px;
}
ul#targetNavi a#forCompany {
	background-image: url(../../images/alltop/target_for-company.gif);
	width:126px;
}
ul#targetNavi a#forTeacher {
	background-image: url(../../images/alltop/target_for-teacher.gif);
	width:114px;
}
ul#targetNavi a#Graduate {
	background-image: url(../../images/alltop/target_graduate.gif);
	width:113px;
}

/*内容*/
/*------------------------------*/
#contents {
}
/*メニュー*/
/*------------------------------*/

.boxNormal {
	border: 1px solid #CCCCCC;
	text-align: center;
	padding: 17px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.lineNomal {
	background-image: url(../../images/alltop/lineNormal.jpg);
	background-repeat: no-repeat;
	height: 9px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
/*h2 {
	font-size: 14px;
	_font-size: 110%;
	line-height: 140%;
	color: #A28042;
}*/

/*フッター*/
/*------------------------------*/

#footer a {
	text-decoration: none;
}
#footer a:link, #footer a:visited {
	color:#FFFFFF;
}
#footer a:hover {
	text-decoration: underline;
}
#footer {
	clear: both;
	color: #333333;
	margin: 0px;
	padding: 0px;
	width: 930px;
	height: 131px;
	position:relative;
	background-image: url(../../images/alltop/footer_img.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
#footer #qr {
	font-size: 10px;
	_font-size: 80%;
	margin: 0em;
	padding: 0px;
	width: 164px;
	text-align: right;
	line-height: 0px;
	height: 53px;
	float: right;
	position: relative;
	right: 20px;
	top: 40px;
	left: auto;
	bottom: auto;
}
#Fnavi {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	width: 766px;
	margin-top: 16px;
	position:relative;
}
#Fnavi li {
	display:inline;
	float: left;
	background-image: url(../../images/alltop/footer_arrow.gif);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 20px;
	margin-left: 8px;
}
#Fnavi li.lastChild {
	background:none;
	margin:0;
	padding:0;
	position:absolute;
	top:-5px;
	left:565px;
}

/*footer-index.htmlバージョン*/
/*------------------------------*/

#footer address {
	position:absolute;
	left: 10px;
	bottom: 6px;
	vertical-align: bottom;
	background-repeat: repeat-y;
	color: #FE8F1B;
	width: 920px;
	font-size:10px;
	font-weight:normal;
	font-style:normal;
}
#footer address span.left {
	display:block;
	float:left;
	width:550px;
}
#footer address span.right {
	display:block;
	float:right;
	text-align:right;
	width:300px;
	padding-right:10px;
}
#footer address a:link {
	color: #FE8F1B;
}
#footer address a:visited {
	color: #FE8F1B;
}

#footer #sisterschool {
	float: left;
	padding-left: 37px;
	bottom: 0px;
	}
#footer #sisterschool li {
	display:inline;
	float: left;
	margin-left:4px;
	}
#footer #sisterschool a {
text-indent: -9999px;
	}
#footer #sisterschool a#DAS {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_oas.gif);
	}
#footer #sisterschool a#DASVoice {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_oas_voice.gif);
	}
#footer #sisterschool a#ArtistArtist {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_artist.gif);
	}
#footer #sisterschool a#Sapporo {
	display: block;
	height: 61px;
	width: 173px;
	background-image: url(../../images/alltop/banner_sapporo.gif);
	}
#footer #sisterschool a#DAS:link, #footer #sisterschool a#DAS:visited,
#footer #sisterschool a#DASVoice:link, #footer #sisterschool a#DASVoice:visited,
#footer #sisterschool a#ArtistArtist:link, #footer #sisterschool a#ArtistArtist:visited,
#footer #sisterschool a#Sapporo:link, #footer #sisterschool a#Sapporo:visited {
	background-position: top;
}
#footer #sisterschool a#DAS:hover,
#footer #sisterschool a#DASVoice:hover,
#footer #sisterschool a#ArtistArtist:hover,
#footer #sisterschool a#Sapporo:hover {
	background-position: bottom;
}
#footer #qr {
	position: relative;
	top: 36px;
	right: 0px;
	clear: none;
}
#searchform{
	width: 270px;
	height: 20px;
	background-image: url(../../images/alltop/search_window.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	margin-top: 20px;
}
#cse-search-box{
	width: 270px;
	height: 20px;
	background-image: url(../../images/alltop/search_window.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	margin-top: 20px;
}
#cse-search-box #q{
    border: 0px;
    margin: 3px 16px 0px 13px;
	padding: 0px;
    float: left;
    width: 160px;
}
#cse-search-box .ibutton{
	float:left;
	width:75px;
	height:20px;
	background:url(../../images/alltop/btn_search.gif);
	cursor:pointer;
	border:none;
	}
#cse-search-box .ibutton_on{
	float:left;
	width:75px;
	height:20px;
	background:url(../../images/alltop/btn_search_on.gif);
	cursor:pointer;
	border:none;
	}

/*全ページ共通*/
/*------------------------------*/
body {
	font-size: 12px;
	_font-size: 80%;
	line-height:140%;
	color: #333333;
	padding: 0px;
}


/*footer-index.htmlバージョン*/
/*------------------------------*/

#footer address {
	left: 20px;
	top: 10px;
	right: auto;
	bottom: auto;
}

#footer #sisterschool {
	height: 62px;
	float: left;
	left: 47px;
	top: 0px;
	position: relative;
	}
#footer #sisterschool li {
	float: left;
	}
#footer #sisterschool a {
text-indent: -9999px;
	}
#footer #sisterschool a#DAS {
	background: url(../../images/alltop/banner_das.gif);
	display: block;
	height: 62px;
	width: 173px;
	}
#footer #sisterschool a#DASVoice {
	background: url(../../images/alltop/banner_das_voice.gif);
	display: block;
	height: 62px;
	width: 173px;
	}
#footer #sisterschool a#ArtistArtist {
	background: url(../../images/alltop/banner_artist_artist.gif);
	display: block;
	height: 62px;
	width: 173px;
	}
#footer #sisterschool a#DAS:link, #footer #sisterschool a#DAS:visited,
#footer #sisterschool a#DASVoice:link, #footer #sisterschool a#DASVoice:visited,
#footer #sisterschool a#ArtistArtist:link, #footer #sisterschool a#ArtistArtist:visited {
	background-position: top;
}
#footer #sisterschool a#DAS:hover,
#footer #sisterschool a#DASVoice:hover,
#footer #sisterschool a#ArtistArtist:hover {
	background-position: bottom;
}


#footer #qr {
	position: relative;
	top: 15px;
}

/* -----------------------------------------------------------------------
## 全体的な調整(PC/SP) ###################################################
----------------------------------------------------------------------- */
#fixedNav {
	display: none;
}
.bold {
	font-weight: bold;
}
.slide_area {
	font-size: 10px;
}
#contant {
	font-size: 10px;
	line-height: 1.5;
	text-align: left;
}
span.sat {
	font-size: 10px;
	color: #0000FF;
}
span.sun{
	font-size: 10px;
	color: #FF0000;
}

/* -----------------------------------------------------------------------
## イベントインデックスページ調整(PC/SP) #################################
----------------------------------------------------------------------- */
/* sliderのフォントサイズ調整 */
.slider .box .day {
	font-size: 1.8em;
}
.slider .box .min_tit {
	font-size: 2em;
	font-family: 'Noto Sans Japanese', serif;
}
.slider .box .mess {
	font-size: 1.2em;
}

/* sliderのカラー調整 */
.slide_area {
	background: url(../img/top/bg.gif);
}
.slick-dots li {
	background: #FF9C03 url(../img/common/bgDot.png);
}
.slick-dots li.slick-active button::before {
	background: #CC7A00;
}
.slick-prev,
.slick-next {
	background: #FF9C03 url(../img/common/bgDot.png);
}

/* sliderのその他の調整 */
.slider .box .day .day_tit {
	color: #333;
	background: #e7c58b;
	padding: 3px;
	border-radius: 4px;
}
.slider .box .min_tit {
	padding: 5px 10px;
	font-weight: bold;
}
.slider .box {
	line-height: 1.5;

	box-shadow:4px 4px 0px 0px #222;
	-moz-box-shadow:4px 4px 0px 0px #222;
	-webkit-box-shadow:4px 4px 0px 0px #222;

	border: 1px solid #EEE;
    box-sizing: content-box;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    margin: 12px;
}

/* calendar */
.cal_box {
	padding:0!important;
	background:#FFF!important;
}
.ui-datepicker {
	width:100%;
	box-sizing:border-box;
	}
.ui-datepicker a {
	cursor:pointer;
}
.ui-widget-header {
	background: #000 url(../img/common/bgDot.png)!important;
	border:1px solid #222 !important;
	color:#FFF!important;
}
.ui-widget-content {
	background-color:#FFF;
}

.ui-datepicker-unselectable .ui-state-default {
	border: 1px solid #BBB;
	background:#DDD;
}
.ui-widget-content .ui-state-hover {
	background-color:#F60;
	border:1px solid #F60;
}
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus {
	background: #F60;
	border:1px solid #F60;
	color: #e51721;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #EEE;
	text-decoration: none;
}
.ui-widget-header .ui-icon {
	background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/images/ui-icons_ffffff_256x240.png);
}
.ui-datepicker-today{
	opacity:1.0 !important;
}
.ui-datepicker-today .ui-state-default {
	background-color:#FFF;
	border:1px solid #F79BAF !important;
}
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color:#333;
}*/
.ui-datepicker th, th a {
	color:#333333;
	background:#FFF;
	}

/* -----------------------------------------------------------------------
## イベントresultページ調整(PC/SP) #######################################
----------------------------------------------------------------------- */
.left #search_now .day,
.left #search_now2 .day,
.right #search_now .day,
.right #search_now2 .day {
	border-bottom: 1px dotted #FFAC30;
}
.left form.search input.textBox {
	padding: 6px 8px;
}

a.btn_02,
.results_entry_btn {
	background: -moz-linear-gradient( center top, #ff0000 5%, #CC0000 100% );
	background: -ms-linear-gradient( top, #ff0000 5%, #CC0000 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff0000), color-stop(100%, #CC0000) );
	background-color: #ff0000;

	box-shadow: 0px 3px 0px 0px #6F0300;
	text-shadow: 2px 2px 0 #6F0300;
}
.category_icon .icn_bg_0000002079 {
	color:#000!important;
	}
/*Myスクール非表示*/
#snavi_event_myschool {
	display:none;
	}

/* -----------------------------------------------------------------------
## イベントバスページ調整(PC/SP) #########################################
----------------------------------------------------------------------- */
/* その他 */
.schedule .area a,
.schedule .area .box,
.result_area .box .head {
	background: #FF9C03 url(../img/common/bgDot.png);
	}
.schedule .area a {
	border-bottom:1px solid #FFF;
	box-sizing:border-box;
	}
#content .title {
	width: auto;
	float: none;
	padding: 0;
}
#content .attention {
	border: none;
}
.attention .copy,
.attention .sub_title,
.attention table,
.attention .txt_b,
.attention .txt,
.result .sub_title,
.schedule .sub_title,
.schedule .area .box:hover,
.schedule .area .box,
.schedule .area a .box_select,
.result,
.bus_foot .txt {
	line-height: 1.5;
}
.attention table {
	border: 1px solid #c5c5c5;
}
.attention table td {
	border: 1px solid #c5c5c5;
	border-collapse: collapse;
}
#content .attention .sub_title,
#content .attention table,
#content .attention .txt {
	color: #000;
}
.schedule .area .box:hover,
.schedule .area .box {
	margin: 1px 1px 0 0;
}
.schedule .area .box_select {
	margin: 1px 1px 0 0;
}
.txt_area .txt_box_select {
	width: 100px;
	font-weight: bold;
	background: #ea0437;
	color: #FFF;
	padding: 10px 10px;
	text-align: center;
	border-radius: 5px;
	margin: 0 7px;
	float: left;
}
.result_area .map img {
	vertical-align: baseline;
}
.result_area .btn_01 {
	margin: 20px auto;
}
.foot_menu li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

/* -----------------------------------------------------------------------
## その他(PC/SP) #########################################
----------------------------------------------------------------------- */
@charset "utf-8";
/* CSS Document */


/*wtaiken*/
#WtaikenFlow {
	border:1px solid #FFBA1A;
	border-radius:5px;
	background:#FFF;
	width:100%;
	margin:20px 0 0 0;
	box-sizing:border-box;
	}
#WtaikenFlow h2 {
	background:#FFBA1A;
	color:#FFF;
	padding:5px;
	}
#WtaikenFlow p,
#WtaikenFlow h2 {
	margin:5px 10px;
	}
#WtaikenFlow p {
	color:#666;
	}
.OneEvent {
	background:#FFF;
	position:relative;
	}
	.OneEvent .icoSpecial {
		position:absolute;
		right:5px;
		bottom:30px;
		}
	.OneEventInner {
		background: url("../img/event/trial/bgEvent.png") left top repeat-y;
		padding-bottom:17px;
		}
	#EventWrapper h3.daytit {
		margin:20px 0;
		}

	#EventWrapper h3.daytit:before {
		content: "\f133";
		font-family: FontAwesome;
		margin-right:10px;
	}
	#EventWrapper h3 {
		padding:11px 10px;
		text-shadow: 1px 1px 0 #FFF;
		font-size:123%;
		font-weight:bold;
		clear:both;
	}
	.slider .box .day .day_tit,
	#EventWrapper h3 span,
	.event_name .icon,
	.event_day .icon {

		background:#000 url(../img/common/bgDot.png) left top;
		color:#FFF;
		border-radius:0!important;
	}
	#EventWrapper h3 span {
		display:inline-block;
		text-shadow:none;
		padding:3px 6px;
		margin-right:5px;
		margin-left:-3px;
		}
	.OneEvent .Day {
		padding-left:18px;
		}
	.OneEvent .Img {
			margin:7px 11px 10px 5px;
			width:125px;
			float:right;
		}
		.OneEvent.Special .Img {
			margin: 7px auto 13px;
			width: 280px;
			float:none;
		}
		.OneEvent .Img.inProf {
			font-size:85%;
		}
		.OneEvent .Img.inProf img {
			float:left;
			margin-right:5px;
			}
			.OneEvent .Img.inProf {
				font-size:85%;
				background:#DFFCBC url(../img/common/bgDot.png) left top;
			}
			.OneEvent .Img.inProf img {
				float:left;
				margin-right:5px;
				}
			.OneEvent .Img.inProf strong {
				border-bottom:1px solid #9CCF83;
			}
	.OneEvent .Day strong {
		font-weight:normal;
		padding-left:20px;
		display:block;
		line-height:20px;
	}
		.OneEvent.Special .Day strong {
			padding-right:10px;
		}
	.EventBottoms {
		padding:10px;
		}
	.OneEvent .BottomBg {
		line-height:1;
		font-size:0;
		vertical-align:top;
	}
.OneEvent h4 {
	padding:3px 0;
	line-height:1.8;
	padding-left:5px;
	font-size:116%;
	/*margin:7px 5px 0 -3px;*/
	font-weight:bold;
	line-height:1.4;
	}
.OneEvent h4 strong {
		background:#FF0;
		font-size:77%;
		color:#292929!important;
		}
.OneEvent .Present {
		background: url("../img/event/trial/icoPresent.png") right center no-repeat;
		padding-right:20px;
		display:inline-block;
		font-size:85%;
	}
	*:first-child+html .OneEvent .Present {
		display:inline;
	}
.OneEvent .takeOut {
		background: url("../img/event/trial/icoBag.png") right center no-repeat;
		padding-right:20px;
		display:inline-block;
		font-size:85%;
}
	*:first-child+html .takeOut {
		display:inline;
	}
.OneEvent .supple {
		font-size:85%;
		padding-left:1em;
		text-indent:-1em;
		color:#666;
		line-height:1.2;
	}
.Staff h3 {
	background:#19B6ED url(../img/common/bgDot.png) left top;
	}
	.Staff .Day {
		background:#BAE9FA url(../img/common/bgDot.png) left center;
		border-top:3px solid #19B6ED;
		}
	.Staff .Day strong {
		background:url(../img/event/trial/icoDayBlue.gif) left 2px no-repeat;
		}
	.Staff h4 {
		border-left:15px solid #00AEEB;
		color:#00AEEB;
		}
.Talent h3 {
	background:#F762A2 url(../img/common/bgDot.png) left top;
	}
	.Talent .Day {
		background:#F9D0E1 url(../img/common/bgDot.png) left center;
		border-top:3px solid #F35AA3;
		}
	.Talent .Day strong {
		background:url(../img/event/trial/icoDayPink.gif) left 2px no-repeat;
		}
	.Talent h4 {
		border-left:15px solid #F762A2;
		color:#F762A2;
		}
		.Talent02 h3 {
	background:#F762A2 url(../img/common/bgDot.png) left top;
	}
	.Talent02 .Day {
		background:#F9D0E1 url(../img/common/bgDot.png) left center;
		border-top:3px solid #F35AA3;
		}
	.Talent02 .Day strong {
		background:url(../img/event/trial/icoDayPink.gif) left 2px no-repeat;
		}
	.Talent02 h4 {
		border-left:15px solid #F762A2;
		color:#F762A2;
		}

.Anime h3 {
	background:#3FA531 url(../img/common/bgDot.png) left top;
	}
	.Anime .Day {
		background:#3FA531 url(../img/common/bgDot.png) left center;
		border-top:3px solid #3FA531;
		}
	.Anime .Day strong {
		background:url(../img/event/trial/icoDayPink.gif) left 2px no-repeat;
		}
	.Anime h4 {
		border-left:15px solid #3FA531;
		color:#3FA531;
		}
.OneEventInner:after {
	display: block;
	visibility: hidden;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}
.work_right h4 {
	background:#CC0000;
	line-height:20px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	margin:10px 0;
	}
.naiyoList li:before {
		content: "\f005";
		font-family: FontAwesome;
		margin-right:10px;
		color:#FF0;
	}
.titH1 {
	color:#FF9900;
	font-size:4rem;
	margin-bottom:15px;
	}
.titH2 {
	background:#FFCC33 url(../img/common/bgDot.png);
	padding:10px!important;
	font-size:2rem;
	margin-bottom:15px;
	}

/* AO説明会 */
.RightLink {
    margin-top: 10px;
    text-align: right;
}
.RightLink a {
    background: transparent url("../img/explain/ico_arrow.gif") no-repeat scroll left center;
    padding-left: 10px;
}
h4.midashiBox_exp {
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #ffac30;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 10px;
	padding: 8px 10px;
}
h3.titH3 {
    background: rgba(0, 0, 0, 0) url("../img/explain/bg_tit3.png") no-repeat scroll left top;
    color: #fff;
    font-size: 153%;
    font-weight: bold;
    line-height: 44px;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* AO説明会_end */

/* イベントトップ　黒板 */
#ScheduleBox {
    background: rgba(0, 0, 0, 0) url("../img/event/bg_schedule.png") no-repeat scroll left top;
	background-size:1120px 100%;
    margin-bottom: 40px;
	font-size:1.4em;
}
#ScheduleBoxInner {
    background: rgba(0, 0, 0, 0) url("../img/event/bg_scheduleBottom.png") no-repeat scroll left bottom;
    padding: 0 16px 50px;
	overflow:hidden;
}
#ScheduleBox h2 img {
    margin-top: 0px;
	width:1120px;
}
#ScheduleBox i.fa-clock-o {
	padding-right:3px;
	font-size:1.4em;
}
#ScheduleBox .StartTime {
    margin: 20px 0 10px;
}
#ScheduleBox .StartTime dt, .StartTime dd {
    color: #fff;
    float: left;
}
#ScheduleBox .StartTime dt {
   /* width: 90px;*/
}
#ScheduleBox .StartTime dd {
    line-height: 1;
	word-wrap : break-word;
	overflow-wrap : break-word;
	word-break:break-all;
    /*width: 560px;*/
}
#ScheduleBox .StartTime dd strong {
    font-size: 1.45em;
    text-shadow: 1px 1px 1px #000;
}

.blue02 {
    color: #19b7ee !important;
}

/* イベントトップ　黒板_end */

.left .category input:checked + span, .left .category input:checked + label {
    background: #ffff00 none repeat scroll 0 0 !important;
}

/* スペシャルゲスト */
/*200160702追加*/
h3.titH3 {
    background: rgba(0, 0, 0, 0) url("../img/guest/bg_tit3.png") no-repeat scroll left top;
    color: #fff;
    font-size: 153%;
    font-weight: bold;
    line-height: 44px;
    margin-bottom: 20px;
    padding: 0 20px;
	border-radius: 4px;
}
.syousai_box .bold{
	margin: 0 10px 30px;
	font-size: 1.5rem;
	font-weight: bold;
}
.syousai_box .column2_1{
	display: flex;
	display:-webkit-flex;
	flex-wrap: wrap;
}
.syousai_box .column2_1 section{
	width: 290px;
	margin-bottom: 40px;
	font-size: 1.3rem;
}
.syousai_box .column2_1 section:nth-child(even){
	margin-left: 20px;
}

.guest_genre,.guest_name,.guest_desc{
	margin: 0 10px 5px;
}
.syousai_box .guest_img img{
	max-width: 100%;
}
.syousai_box .guest_day{
	width: 100%;
	margin-bottom: 15px;
	padding: 2px 0;
	background-color: #211916;
	font-size: 1.4em;
	font-weight: bold;
	color: #FFF7A5;
	text-align: center;
}
.syousai_box .guest_genre{
	display: inline-block;
	padding: 1px 8px;
	color: #fff;
	background-color: #ED8732;
}
.syousai_box .guest_name{
	font-size: 2rem;
}
.syousai_box .guest_frsc{

}

/* -----------------------------------------------------------------------
## PCのみの調整 ##########################################################
----------------------------------------------------------------------- */
@media screen and (min-width: 768px){
	/* ################# 全体 ################# */
	/* フォントサイズ */
	.attention {
		font-size: 1.4em;
	}
	/* その他 */
	.attention p img {
		vertical-align: baseline;
	}

	/* ################# インデックス ################# */
	/* フォントサイズ */
	#event_area .tit,
	#cal_area .tit {
		font-size: 2.2em;
	}
	#datepicker .ui-datepicker {
		font-size: 2.1em;
	}
	#catgory_area .box .txt {
		font-size: 1.4em;
		text-decoration:none;
	}

	/* カラー */
	#event_area .tit,
	#cal_area .tit {
		background: #FF9C03 url(../img/common/bgDot.png);
	}
	#catgory_area .box {
		border-top-color: #FFAC30;
	}

	/* その他 */
	#event_area .tit,
	#cal_area .tit,
	.syousai_right .min_tit {
		border-radius: 4px;
	}
	/*.event_box .event {
		margin: 0 3px 7px 0;
	}*/
	#catgory_area .box .photo {
		background: #fff;
	}

	.event_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 10px 0 0;
		width: 100%;
	}
	.event_box ul li {
		box-sizing: border-box;
		display: block;
		float: left;
		line-height: 0;
		margin: 0 0 1px 1px;
		padding: 0;
		transition: all 0.2s ease-in-out 0s;
		width: 33%;
	}
	.event_box ul li img {
		width:100%;
		margin-left:1px;
		}

	/* ################# result ################# */
	/* フォントサイズ */
	.left #search_now .tit,
	.left #search_now2 .tit {
		font-size: 2em;
	}
	.left #search_now .day,
	.left #search_now2.day,
	.left #search_now .field,
	.left #search_now2 .field {
		font-size: 1.5em;
	}
	.left #datepicker .ui-datepicker {
		font-size: 1.6em!important;
	}
	.left .cal_txt {
		font-size: 1.2em;
	}
	.left .list {
		font-size: 1.6em;
	}
	.left form.search input.textBox {
		font-size: 1.4em;
	}
	.right .search_results {
		font-size: 1.4em;
	}
	.right .zero_mess p {
		font-size: 1.6em;
	}
	.event_name .icon {
		font-size: 1.4em;
	}
	.event_name .copy {
		font-size: 1.3em;
	}
	.event_name .name {
		font-size: 2em;
	}
	.event_day .box {
		font-size: 1.6em;
	}
	.event_info {
		font-size: .875em;
	}
	.txt_link_area {
		font-size: 1.4em;
	}
	.category_icon p {
		font-size: 1.3em;
	}

	#contant .left {
		font-family: 'Noto Sans Japanese', serif;
	}
	.content_box .btn_box a.btn_right, .sp_cover_btn a.btn_right,
	.content_box .btn_box a.btn_right, .sp_cover_btn a.btn_left,
	.results_entry_btn,
	.results_detail_btn,
	.entry_btn
	 {
		font-family: 'Noto Sans Japanese', serif;
		font-weight:400;
		}
	/* カラー */
	.left #search_now .tit,
	.left #search_now2 .tit,
	#EventWrapper h3.daytit {
		background: #FF9C03 url(../img/common/bgDot.png);
	}
	.left .content_box {
		background: #FFF9D9;
	}
	.left #acMenu dt .toggle_icon {
		background: #FF9C03 url(../img/common/bgDot.png);
	}
	.right #catgory_area .box,
	.right .work_box {
		border-top-color: #FFAC30;
	}
	.right .zero_mess {
		border-top-color: #FFAC30;
	}
	.right .work_box,
	.right .zero_mess {
		background: -moz-linear-gradient(top,  #FFF9D9 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #FFF9D9 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #FFF9D9 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF9D9', endColorstr='#ffffff',GradientType=0 );
	}
	.left .min_tit {
		background: #FF9C03 url(../img/common/bgDot.png);
	}
	#acMenu dt,
	.check {
		border-bottom-color: #FFF9D9;
	}


	/* その他 */
	.left .list input.chack_box {
		vertical-align: baseline;
	}

	/* ################# 詳細ページ ################# */
	/* フォントサイズ */
	.day_select_area .tit {
		font-size: 1.4em;
	}
	.bus_btn_02,
	.bus_btn_01 {
		font-size: 1.8em;
	}
	.bus_btn_02 .txt,
	.bus_btn_01 .txt {
		font-size: .667em;
	}
	.bus_select_area_02 .area_box p,
	.bus_select_area_01 .area_box p {
		font-size: 1.6em;
	}
	td.tit {
		font-size: 1.6em;
	}
	.pc_table_box table {
		font-size: 1.2em;
	}
	.entry_btn {
		font-size: 1.333em;
	}
	.syousai_box .syousai_right .min_tit,
	.syousai_box .syousai_nophoto .min_tit {
		font-size: 2.4em;
	}
	.syousai_box .syousai_right .txt,
	.syousai_box .syousai_nophoto .txt {
		font-size: 1.4em;
	}

	/* カラー */
	.pc_table_box .tit {
		background: #FF9C03 url(../img/common/bgDot.png);
		color: #fff;
	}
	#contant .entry_btn {
		color: #fff;
    background: -moz-linear-gradient( center top, #ff9500 5%, #ff6600 100% );
    background: -ms-linear-gradient( top, #ff9500 5%, #ff6600 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#ff6600');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff9500), color-stop(100%, #ff6600) );
    background-color: #ff9500;
    text-shadow: 2px 2px 0px #ff3300;
    -webkit-box-shadow: 1px 3px 0px 0px #ff3300;
    -moz-box-shadow: 1px 3px 0px 0px #ff3300;
    box-shadow: 1px 3px 0px 0px #ff3300;
	}

	/* その他 */
	.pc_table_box .tit {
		text-align: left;
	}
  .pc_table_box th {
    height: 27px;
    text-align: center;
    background: #ddd;
    border: 1px solid #fff;
    font-weight: 700;
    padding: 3px 0 0;
  }
  .pc_table_box td {
    height: 27px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    font-weight: 700;
    padding: 5px 10px;
    vertical-align: middle;
  }
  .pc_table_box th.col_04,
  .pc_table_box td:nth-child(3),
  body#page-bus .result .arrival {
		display: none;
  }
	#contant .entry_btn {
		font-weight: bold;
	}
  h2.pageTitle {
	width:980px;
	margin: 0 auto;
    padding: 15px 5px;
	}
  .eventGnavi {
	background: #FF9C03 url(../img/common/bgDot.png);
  }
  .eventGnavi.fnavi {
  	margin-top: 50px;
  }
	.eventGnaviList {
    width: 980px;
    margin: 0 auto;
    border-left: 1px solid rgba(255,255,255,.5);
	}
	.eventGnaviList_item {
    width: 20%;
    float: left;
    border-right: 1px solid rgba(255,255,255,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	}
	.eventGnaviList_item a {
    display: block;
    padding: 1em 0;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
	}
	.eventGnaviList_item a:hover {
    background-color: rgba(100, 17, 91, .33);
    text-decoration: none;
	}
  #fotterSupple {
	  width:960px;
	  margin:10px auto;
	  text-align:center;
	}

/* AO説明会 */
.Block3 dl {
    float: left;
    padding: 10px 10px 20px;
    width: 186px;
}
.Block3 dl:last-child {
    padding: 10px 0px 20px10px!important;
}
.Block3 dl.odd {
    background: #ffffe1 url("../img/explain/bg_dot.png") repeat scroll left top;
}
.Block3 dt {
    border-bottom: 1px solid #fc0;
    color: #f60;
    font-weight: bold;
    margin-bottom: 10px;
}
.Block3 dd {
    min-height: 102px;
}
.Block3 dd img{
   /*width:100%;*/
}
.Block3 strong {
    color: #0c3;
}
.Fclear {
    clear: both !important;
}
.Fleft {
    float: left !important;
}
.Fright {
    float: right !important;
}
.Block3::after, .StartTime::after, #MainContents::after, #FooterInner::after, #BottomAreaMidder::after, .inProf::after, #EventWrapper::after, #SearchBoxInner::after, #SearchDay ul::after, #Contents::after, #TopRight ul::after, #cse-search-box::after, #HeaderContents::after, #Header::after, #Gnavi::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
* html .Block3, * html .StartTime, * html MainContents, * html #FooterInner, * html #BottomAreaMidder, * html .inProf, * html #EventWrapper, * html #SearchBoxInner * html #SearchDay ul, * html #Contents, * html #TopRight ul, * html #cse-search-box, * html HeaderContents, * html #Header, * html #Gnavi {
}
:first-child + html .Block3, *:first-child + html .StartTime, *:first-child + html #MainContents, *:first-child + html #FooterInner, *:first-child + html #BottomAreaMidder, *:first-child + html .inProf, *:first-child + html #EventWrapper, *:first-child + html #SearchBoxInner, *:first-child + html #SearchDay ul, *:first-child + html #Contents, *:first-child + html #TopRight ul, *:first-child + html #cse-search-box, *:first-child + html #HeaderContents, *:first-child + html #Header, *:first-child + html #Gnavi {
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.pc_none {
	display:none!important;
}

/* AO説明会_end */

/* 注目TOPIC */
.topic_area {
    background-color: #f9f9f3;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 5px;
    width: 998px;
}
.topic_area h3 {
    background-color: #ffac30;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}
.topic_area_box {
	margin-right:10px;
}
.topic_area_box a {
   box-sizing: border-box;
    /*float: left;*/
    font-size: 16px;
    font-weight: bold;
    /*margin-right: 10px;*/
    padding: 5px;
    transition: all 0.3s ease 0s;
    /*width: 328px;*/
}
.topic_area_box a:hover {
    background-color: #ffac30;
    color: #fff;
}
.topic_area_box a img {
    height: auto;
    margin-right:5px;
    width: 100%;
}
.topic_area_box a dl{
	padding-left:5px;
}
.topic_area_box a dl dt {
    background: #333 none repeat scroll 0 0;
    position: relative;
}
.topic_area_box a dl dt::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #333;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    left: 100%;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}
.topic_area_box a dl dt {
    background-color: #333;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px 1px;
    text-align: center;
    width: 3.5em;
}
.topic_area_box a dl dt p {
    display: block;
    font-size: 16px;
}
.topic_area_box a dl dd {
    margin-left: 65px;
}
.topic_area_box a dl dd p {
    color: #333;
    font-size: 14px;
}
.topic_area_box a dl dd p.topic_title {
    color: #e51721;
    font-size: 16px;
}
.topic_area_box a:hover dl dd p.topic_title {
    color: #fff;
}
.dsp_flex {
	display:flex;
    justify-content: space-around;
}
/* 注目TOPIC_end */

}


/* -----------------------------------------------------------------------
## スマホのみの調整 ######################################################
----------------------------------------------------------------------- */
@media screen and (max-width: 767px){
	.eventGnavi {
		display:none;
		}
	#event_area .tit,
	#cal_area .tit {
		font-size: 2.2em;
	}
	#datepicker .ui-datepicker {
		font-size: 2.1em;
	}
	#catgory_area .box .txt {
		font-size: 1.2em;
	}
	.slider .box .day {
		font-size: 1.4em;
	}

	.event_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 10px 0 0;
		width: 100%;
	}
	.event_box ul li {
		box-sizing: border-box;
		display: block;
		float: left;
		line-height: 0;
		margin: 0 0 1px 1px;
		padding: 0;
		transition: all 0.2s ease-in-out 0s;
		width: 49%;
	}
	.event_box ul li img {
		width:100%;
		margin-left:1px;
		}

	/* カラー */
	#event_area .tit,
	#cal_area .tit,
	#search_now .tit,
	#search_now2 .tit,
	.left .min_tit,
	.pc_table_box .tit,
	.sp_table_box .tit_bg,
	.syousai_right .min_tit {
		background: #FFAC30!important;
	}
	#catgory_area .box,
	.work_box {
		border-top: 5px solid #FFAC30;
	}

	/* その他 */
	#contant .attention {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 5px 10px;
		font-weight:bold;
		font-size: 1.4em;
	}
	#contant .attention p {
		width: auto;
		text-indent: -1em;
		padding-left: 1em;
	}
	#contant .attention img {
		width: 14px;
	}
	#event_area .tit,
	#cal_area .tit,
	.syousai_right .min_tit {
		border-radius: 4px;
	}
	.event_box {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	#datepicker .ui-datepicker {
		width: auto;
	}
	#catgory_area .box .photo {
		background: #fff;
	}

	/* ################# result ################# */
	body#page-event .spFooter #navFootFixed,
	body#page-results .spFooter #navFootFixed {
		display:none!important;
		}
	/* カラー */
	#contant .sp_search_btn {
		color: #fff;
		background: -moz-linear-gradient( center top, #FFAC30 5%, #FA9600 100% );
		background: -ms-linear-gradient( top, #FFAC30 5%, #FA9600 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAC30', endColorstr='#FA9600');
		background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #FFAC30), color-stop(100%, #FA9600) );
		background-color: #FFAC30;
		text-shadow: 2px 2px 0px #CC7A00;
		-webkit-box-shadow: 1px 3px 0px 0px #CC7A00;
		-moz-box-shadow: 1px 3px 0px 0px #CC7A00;
		box-shadow: 1px 3px 0px 0px #CC7A00;
	}
	.zero_mess {
		border-top-color: #FFAC30;
		background: -moz-linear-gradient(top,  #FFF9D9 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #FFF9D9 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #FFF9D9 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF9D9', endColorstr='#ffffff',GradientType=0 );
	}
	#acMenu dt .toggle_icon {
		background: #FF9C03 url(../img/common/bgDot.png);
	}
	.work_box {
		background: #FFF9D9;
		background: -moz-linear-gradient(top,  #FFF9D9 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #FFF9D9 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #FFF9D9 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF9D9', endColorstr='#ffffff',GradientType=0 );
	}
	#acMenu dt,
	.check {
		border-bottom-color: #FFF9D9;
	}
	.content_box {
		background: #FFF9D9;
	}

	/* その他 */
	.zero_mess {
		width: auto;
	}
	#contant .left,
	#contant .right {
		float: none;
	}
	input.chack_box {
		vertical-align: baseline;
	}


	/* ################# 詳細ページ ################# */
	/* フォントサイズ */
	.day_select_area .tit {
		font-size: 1.4em;
	}
	.submit_btn {
		font-size: 1.2em;
	}
	.bus_btn_01,
	.bus_btn_02 {
		font-size: 1.8em;
	}
	.bus_btn_01 .txt,
	.bus_btn_02 .txt {
		font-size: .625em;
	}
	.area_box p {
		font-size: 1.4em;
	}
	.sp_table_box table {
		font-size: 1em;
	}
	.sp_table_box .tit_bg {
		font-size: 1.6em;
	}
	.sp_table_box .col_01,
	.sp_table_box .col_02,
	.sp_table_box .col_03,
	.sp_table_box .col_04,
	.sp_table_box .col_05 {
		font-size: 1em;
	}
	#contant .map:after {
		font-size: 1em;
	}
	.syousai_box .syousai_nophoto .min_tit,
	.syousai_box .syousai_right .min_tit {
		font-size: 2em;
	}
	.syousai_box .syousai_nophoto .txt,
	.syousai_box .syousai_right .txt {
		font-size: 1.4em;
	}
	.results_entry_btn,
	.results_detail_btn {
		font-size: 12px;
	}
	.entry_btn {
		font-size: 1.2em;
	}

	/* スペシャルゲスト */
	/*200160702追加*/
	.syousai_box .column2_1{
		display: block;
	}
	.syousai_box .column2_1 section{
		width: 100%;
	}
	.syousai_box .column2_1 section:nth-child(even){
		margin-left: 0;
	}

	/* カラー */
	#contant .map a {
		color: #fdbe00;
	}
	#contant .entry_btn {
		color: #fff;
    background: -moz-linear-gradient( center top, #ff9500 5%, #ff6600 100% );
    background: -ms-linear-gradient( top, #ff9500 5%, #ff6600 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#ff6600');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff9500), color-stop(100%, #ff6600) );
    background-color: #ff9500;
    text-shadow: 2px 2px 0px #ff3300;
    -webkit-box-shadow: 1px 3px 0px 0px #ff3300;
    -moz-box-shadow: 1px 3px 0px 0px #ff3300;
    box-shadow: 1px 3px 0px 0px #ff3300;
	}
	.syousai_box .syousai_nophoto .min_tit {
		background: #FF9C03 url(../img/common/bgDot.png);
	}

	/* その他 */
	#contant .submit_btn {
		display: block;
		margin: 0 0 0 auto;
	}
	.syousai_box .syousai_nophoto .min_tit {
		border-radius: 4px;
	}
	.syousai_box .syousai_nophoto .txt {
		margin-top: 10px;
	}

	/* ################# バスページ ################# */
	/* その他 */
  .txt_area .txt_box_select {
    width: 30%;
	  font-weight: bold;
	  background: #ea0437;
	  color: #FFF;
	  padding: 10px 10px;
	  text-align: center;
	  border-radius: 5px;
	  margin: 3px;
	  float: left;
  }
	#content .guidance .tit {
		margin-bottom: 15px;
	}
	.guidance .tit_txt {
		line-height: 1.5;
	}
	#content .attention {
		margin-right: 0;
	}
	.attention table .add {
		font-weight: normal;
	}
	#content .result .sub_title {
		width: auto;
	}
	#content .schedule .sub_title {
		width: auto;
	}
  #fotterSupple {
	  margin:10px;
	}

  #fotterSupple img {
	  width:100%;
  }
/*AO説明会*/
	.sp_none {
	display:none;
	}
	.ttl_h4 {
	padding: 5px;
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
	background:#EBEBEB;
	}

	/*スケジュールアコーディオン*/
	dl.schedule {
	padding:0 10px;
	/*font-size: 16px;*/
	}
	.accMenu {
	/*padding:20px 10px;*/
	/*font-size: 16px;*/
	}
	.accMenu .title,
	.accMenu_myschool .title,
	.accMenu_event .title	 {
		margin-bottom: 10px;
		border:1px solid #CCC;
		padding:3px;
		text-align:center;
		position:relative;
	}
	.accMenu .title span,
	.accMenu_myschool .title span,
	.accMenu_event .title span {
		padding:15px 10px 15px 28px;
		background-color:#EEE;
		display:block;
		line-height:1.6;
	}
	.accMenu .title span:before,
	.accMenu_myschool .title span:before,
	.accMenu_event .title span:before	 {
		content: "\f0fe";
		font-family: FontAwesome;
		position:absolute;
		top:50%;
		left:10px;
		margin-top:-10px;
	}
	.accMenu .title.open span,
	.accMenu_myschool .title.open span ,
	.accMenu_event .title.open span {
		background-color:#ffac30;
		color:#FFF;
	}
	.accMenu .title.open span:before,
	.accMenu_myschool .title.open span:before ,
	.accMenu_event .title.open span:before {
		content: "\f146";
	}
	.accMenu dt, .accMenu dd {
		/*padding:10px;*/
	}
	.accMenu dt {
		clear:left;
		float:left;
		padding-top:5px;
	}
		.accMenu dd {
		margin-left:120px;
		min-height:80px;
		border-bottom:1px dashed #CCC;
		padding:10px;
		line-height: 100%;
		color:#EA0437;
	}
	.accMenu dd .time {
		margin-bottom:5px;
		font-weight:bold;
		color:#333;
	}
	.accMenu dd span {
		font-size: 0.8em;
		color:#333;
	}
	.accMenu dd .time:before {
		content: "\f017";
		font-family: FontAwesome;
		font-weight: normal;
		padding-right: 5px;
	}
	 .accMenu_event p.title {
	    font-size: 16px;
	    margin-top: 20px;
	}
/*AO説明会_end */

}

/* ################# W体験 ################# */

#MonthNav {
	display:table;
	width:100%;
	margin:0 auto;
	background:#FFD9E6;
	border-top:1px solid #FFF;
}
#MonthNav a {
	display: table-cell;
	height:45px;
	/*width:50%;*/
	width:33.3%;
	background:#FF6699;
	color:#FFF;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
	border-left:1px solid #ccc;
	-webkit-tap-highlight-color:rgba(200,0,0,0.4);
}
