@charset "utf-8";
#osaka{
	width:620px;
	height:400px;
	}
#text{
	font-size:14px;
	width:198px;
	height:378px;
	border:#039 1px solid;
	float:left;
	padding:10px;
	line-height:1.3;
	}
#text p.title{
	font-size:14px;
	color:#039;
	font-weight:bold;
	margin-bottom:10px;
	line-height:1.5;
	}
#osaka #map{
	float:left;
	}


h1 {
	width:100%;
	padding:6px 0;
	color:#FFFFFF;
	background:#FF9900;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}

div#map {
	font-size:12px;
}

div#winclose {
	border-top:1px solid #FF9900;
	/*width:100%;
	padding:6px 0;
	color:#FFFFFF;
	background:#FF9900;
	font-size:12px;
	text-align:center;*/
}
div#winclose a {
	display:block;
	width:124px;
	padding:6px;
	color:#FFFFFF;
	background:#FF9900;
	border:1px solid #3399CC;
	margin:6px auto 0 auto;
	text-decoration:none;
	text-align:center;
	font-size:10px;
}

div#winclose a:hover {
	background-color:#FFCC00;
}