@charset "utf-8";
/*------------------------------*/
/*COMMON CLASS*/
/*------------------------------*/

/*------------------------------*/
/*TXT*/
/*------------------------------*/
.txtSmall {
	font-size: 100%;
	line-height: 150%;
}
.txtMidium {
	font-size: 120%;
	line-height: 150%;
}

/*------------------------------*/
/*LAYOUT*/
/*------------------------------*/
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.centerBox {
	text-align: center;
}
.rightBox {
	text-align: right;
}
/*------------------------------*/
/*CREAR*/
/*------------------------------*/
.clear {
	clear: both;
	_zoom:1;
	overflow:hidden;
	font-size:0;
	line-height:0;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

.clearfix{
	display:inline-block;
	}

/*hides IE-mac \*/
*html .clearfix{height:1%}
.clearfix{display:block;}
/*hide  IE-mac */

/*------------------------------*/
/*COLOR*/
/*------------------------------*/
.color-orange {
	color: #FF6600;
}
.color-red {
	color: #FF0000;
}
.color-black {
	color: #000000;
}
.color-white {
	color: #FFFFFF;
}
.color-green {
	color: #009900;
}

/*------------------------------*/
/*Margin Padding */
/*------------------------------*/
.maL0{
	margin-left:0px !important;
}
.maL1{
	margin-left:10px !important;
}
.maL2{
	margin-left:20px !important;
}
.maL3{
	margin-left:30px !important;
}
.maT0{
	margin-top:0px !important;
}
.maT1{
	margin-top:10px !important;
}
.maT2{
	margin-top:20px !important;
}
.maT3{
	margin-top:30px !important;
}
.maR0{
	margin-right:0px !important;
}
.maR1{
	margin-right:10px !important;
}
.maR2{
	margin-right:20px !important;
}
.maR3{
	margin-right:30px !important;
}
.maU0{
margin-bottom:0px !important;
}
.maU1{
margin-bottom:10px !important;
}
.maU2{
margin-bottom:20px !important;
}
.maU3{
margin-bottom:30px !important;
}
.paL0{
padding-left:0px !important;
}
.paL1{
padding-left:10px !important;
}
.paL2{
padding-left:20px !important;
}
.paL3{
padding-left:30px !important;
}
.paT0{
padding-top:0px !important;
}
.paT1{
padding-top:10px !important;
}
.paT2{
padding-top:20px !important;
}
.paT3{
padding-top:30px !important;
}
.paR0 {
padding-right:0px !important;
}
.paR1 {
padding-right:10px !important;
}
.paR2 {
padding-right:20px !important;
}
.paR3 {
padding-right:30px !important;
}
.paU1{
padding-bottom:10px !important;
}
.paU2{
padding-bottom:20px !important;
}
.paU3{
padding-bottom:30px !important;
}
/*------------------------------*/
/*TABLE */
/*------------------------------*/
table.table-no {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	padding: 5px;


}
table.table-no td {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	padding: 5px;

}
table.table-no th {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	background-color:#EDEDED;
	padding: 5px;
	text-align:left;
	font-size:10px;
	color:#333333;

}
/*------------------------------*/
/*Efect */
/*------------------------------*/

/*banner rollover end etc*/
a:hover img.overBtn,
a img.onBtn{
 filter: alpha(opacity=60);
    -moz-opacity:0.60;
    opacity:0.60;
}
/* //banner rollover */
/*------------------------------*/
/*JS Efect */
/*------------------------------*/
.imgover {
margin:0;
padding:0;
}
/*------------------------------*/
/*for txt float  */
/*------------------------------*/
.floatNext{
	overflow:auto;
	zoom:1;
	
}
/*------------------------------*/
/*for txt float2  */
/*------------------------------*/
.floatOver{
	overflow:hidden;
	_zoom:1;
}
/*------------------------------*/
/*ohters  */
/*------------------------------*/
.clearNone {
	clear:none !important;
	}
.wideAuto {
	width:auto !important;
	}