@charset "utf-8";
/*------------------------------*/
/*SITE STYLE*/
/*------------------------------*/

body {
	background-color: #F2F2F2;
	margin: 0px;
	padding: 0px;
}
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック";
    /**/
    font-size: 10px;
    line-height: 150%;
    color: #000000;
}
/*IE のみ基準文字サイズ　62.5% = 10px*/
body.msie {
	font-size: 62.5%;

}

#container {
	padding: 0px;
	margin: 0px auto;
	max-width: 1300px;
    width: auto !important;
	width: 1300px;

    
	text-align: left;
	height: 100%;
	min-height: 100%;
	background-color: #FFFFFF;	
}
body > #container {
	height: auto;
}

/*------------------------------*/
/*LINK STYLE*/
/*------------------------------*/

a:link {
	color: #B50080;
	text-decoration: underline;
}
a:visited {
	color: #B50080;
	text-decoration:underline;
}
a:hover {
	color: #000000;
	text-decoration:underline;
}
/*------------------------------*/
/*top / base*/
/*------------------------------*/
#header {
  height:220px;
  position:relative;
}
.wrap{
    width:960px;
    margin:0 auto;
    text-align:center;
  
}
#header #logo{
    padding-top:30px;
}
#header #logo{
    margin-bottom:15px;
}
#header #sitetitle{
    margin-bottom:5px;
z-index:3;
position:relative;
}
#top_hosko{
    position:absolute;
    bottom:-18px;
    z-index:2;

    left:30px;
}
#main_visual {
    text-align:center;
}
#main_visual_wrap{
    margin:0 auto;
  position:relative;
  width:100%;

  min-height:542px;
  max-width:1300px;
 /*  max-height:570px;*/
/*  max-width:1300px;
  height:auto;*/


  background:url(../img/top_main.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    
}
#main_visual_base {
}
#main_visual_base img{
    width:100%;
}
#main_visual_btn {
    position:absolute;
    right:0;
    top:80px;
}
#main_visual_btn p {
    margin-bottom:10px;
}
#main_visual_st{
    position:absolute;
    top:23%;
    left:65%;
    margin-left:-30%;
}
#top_course {
    margin-top:40px;
    overflow:hidden;
    zoom:1;
}
#top_course ul{
    margin-top:30px;
}
#top_course li{
    display:inline-block;
    margin:0 20px;
}
#visual_1{
    text-align:center;
    position:relative;
    margin:0 auto;
  position:relative;
  width:100%;

  min-height:542px;
  max-width:1300px;

  background:url(../img/bg1.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    
}
#visual_1 p {
    position:relative;
    top:260px;
     
}
#top_voice {
    padding-bottom:60px;
    text-align:center;

    margin:0 auto;
  position:relative;
  width:100%;

 /* min-height:3000px;*/
  max-width:1300px;

  background:url(../img/index_bg_2.gif) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
#top_voice h2{
    padding:70px 0;
}
.top_voice_set {
    text-align:left;
    width:530px;
    margin:0 auto;
}
.top_voice_set h3{
    margin-bottom:30px;
    margin-left:-23px;
}
.top_voice_set {
    margin-bottom:60px;

}
.sec_kikkake,
.sec_dream {
    position:relative;
        font-size:12px;
    line-height:1.5;
    margin-bottom:30px;
  
}
.sec_kikkake .top_voice_set_ic1{
    position:absolute;
    right:0;
    top:-110px;
}
.sec_dream .top_voice_set_ic2{
    position:absolute;
    left:-110px;
    top:-20px;
}
#u_navi{
text-align:center;
    position:relative;
    margin:0 auto;
  position:relative;
  width:100%;

 /* min-height:3000px;*/
  max-width:1300px;

  background:url(../img/bg_line.png) no-repeat top center;
      margin-top:-20px;
      padding-bottom:60px;
      

}
#u_navi h2,
#u_navi h3{
     padding:60px 0;
}
#u_navi_list {
    width:930px;
    overflow:hidden;
}
#u_navi_list li{
    float:left;
    
}
.u_navi_b_btns img{
    margin:0 30px;
}
/* フッター
----------------------------------------------------*/
.topBtn {
	text-align:right;
	height:20px;
	margin:10px 0 0 0;
}
.topBtnBox {
	width:930px;
	margin:0 auto;
}
.footer {
    font-size:12px;
	margin:0 auto;
	width:100%;
	/*height:172px;*/
	background:url(../common/images/footer_back.gif) repeat-x left top;
}
.footerBox {
	margin:0 auto;
	width:930px;
}
.footerInfo {
	padding:15px 0 10px 0;
	/*float:left;*/
}
/*.footerPrivacy {
	margin:40px 0 0 0;
	float:right;
}*/
.footer .address {
	text-align:left;
	font-size:93%;
	color:#665847;
	text-shadow:1px 1px 0px #FFFFFF;
	clear:both;
}
.footer .address img {
	margin:5px 5px 0 10px;
	vertical-align:-5px;
}
.copyRight {
	font-size:93%;
	color:#665847;
	padding:5px 0 0 0;
	text-shadow:1px 1px 0px #FFFFFF;
}
*:first-child+html .copyRight {
	padding:20px 0 0 0;
}

.footer .socialLink {
	margin:8px 0 0px 15px;
	font-size:93%;
	width:200px;
	float:left;
	color:#665847;
	text-shadow:1px 1px 0px #FFFFFF;
}
/*backbtntop*/
.backbtntop {
position: fixed;
right: 15px;
bottom: 60px;
z-index: 9000;
display: none;
} 

.backbtntop a {
display: block;
color:#FFF !important;
padding: 10px 5px;

background-color: #000;
border-radius: 3px;
text-decoration: none;
font-weight: bold;
font-size: 12px;

filter: alpha(opacity=80);
-moz-opacity:0.80;
opacity:0.80;
				
}

.backbtntop a:hover {
color: #FFFFFF;
filter: alpha(opacity=100);
-moz-opacity:1.00;
opacity:1.00;
}

/* format
----------------------------------------------------*/
#fix_navi{
    background:url(../img/headnavi_bg.gif) repeat-x;
    height:56px;
    width:100%;
    margin:0 auto;
    position:fixed;
    overflow:hidden;
    max-width:1300px;
    min-width:950px;
    z-index:100;
     filter: alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
    
}
#fix_navi .set{
    text-align:center;
}
#fix_navi .set li {
    display:inline-block;
}
body.page #header{
    height:190px;
}
body.page #u_navi{
    padding-top:70px;
  background:url(../img/bg_line.png) no-repeat top center;
      margin-top:0px;
}
body.page #header #logo{
    margin-bottom:15px;
}
body.page #header #schoolname{
    margin-bottom:20px;
}
body.page #header #sitetitle{
    margin-bottom:0px;

}

/* job
----------------------------------------------------*/
body#job  #main_visual_wrap{
  background:url(../img/job_main.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
body#job #main_visual #main_visual_wrap #main_visual_st {
       left:70%;
}
#job_nagare {
    margin-top:40px;
    overflow:hidden;
    zoom:1;
}
#job_nagare h2{
    margin-bottom:40px;
    
}
#job_nagare dt {
    width:387px;
    float:left;
}
#job_nagare dd {
    
    text-align:left;
    margin:0 0 30px 440px;
    min-height:130px;
    font-size:13px;
    line-height:1.8;

}
body#job #visual_1{
  background:url(../img/job7.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    
}
#job_job{
    background:url(../img/job8.jpg) no-repeat center top;
    height:700px;
    margin:40px 0 40px 0;
}
#job_job .job_job_c{
    text-align:left;
    width:300px;
    float:left;
}
#job_job .job_job_c .set {
    margin-bottom:30px;
}
#job_job .job_job_c h3{
    margin-bottom:20px;
}
#job_job .job_job_c p{
    font-size:12px;
    line-height:1.8;
}
#job_job  #job_job_c_r {
    float:right;
}
.colorSt{
    color:#466A32;
}
/* voice
----------------------------------------------------*/
body#voice  #main_visual_wrap{
  background:url(../img/voice_main.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
body#voice #main_visual #main_visual_wrap #main_visual_st {
       left:70%;
}
#voice_colum {
    padding-top:40px;
    width:930px;
}
.voice_colum_set {

    margin-bottom:40px;
    overflow:hidden;
    zoom:1;
}
.voice_colum_set h2{
    margin-bottom:40px;
}
.voice_colum_set .set {
    width:280px;
    text-align:left;
    float:left;
    margin-right:45px;
}
.voice_colum_set .set.last {
    margin-right:0;
}
.voice_colum_set .set h3{
    font-size:16px;
    font-weight:bold;
    margin-bottom:30px;
    color:#466A32;
}
.voice_colum_set .set h3.color2{
    color:#B3007F ;
}
.voice_colum_set .set p{
    font-size:12px;
    line-height:1.8;
}
/* about
----------------------------------------------------*/
body#about  #main_visual_wrap{
  background:url(../img/about_main.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}
body#about #main_visual #main_visual_wrap #main_visual_st {
       left:70%;
       top:180px;
}
#zugyou_colum {
    padding-top:40px;
    margin-bottom:40px;
    width:930px;
    margin:0 auto;
    margin-bottom:40px;
}
#zugyou_colum h2{
    margin-bottom:30px;
}
#zugyou_colum .read{
    margin-bottom:40px;
}
#zugyou_colum h3{
    background-color:#585858;
    color:#fff;
    font-size:18px;
    padding:10px;
    margin-bottom:10px;
}
.zyugyo_set {
    margin-bottom:30px;
}
.zyugyo_set .set {
    text-align:left;
    width:290px;
    float:left;
    margin-right:30px;
    font-size:12px;
    line-height:1.8;
}

.zyugyo_set .set.last {
    margin-right:0;
}
.zyugyo_set .set h4{
    font-size:18px;
    line-height:1.5;
    margin-bottom:10px;
    margin-top:20px;
     color:#466A32;
}
.zyugyo_set .set h4.even{
        color:#B3007F ;
}
.midahi_tt {
    color:#B4007F;
    font-size:20px;
    margin-bottom:30px;
}
.jikanwari {
    width:100%;
}
table.jikanwari {
	border-collapse:collapse;
}
table.jikanwari td {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	padding: 15px 10px;
    font-size:12px;
    border-left:none;
    border-right:none;
    text-align:center;
    width:10%;


}
table.jikanwari th {
	border-collapse:collapse;
		background-color:#5A5858;
	padding: 5px;
	text-align:center;
	font-size:10px;
	color:#fff;

}
#room{
text-align:center;
    position:relative;
    margin:0 auto;
  position:relative;
  width:100%;

 /* min-height:3000px;*/
  max-width:1300px;

  background:url(../img/bg_line.png) no-repeat top center;
      margin-top:-20px;
      padding-bottom:60px;
      padding-top:60px;

}
#room h2{
    margin-bottom:30px;
}
#room .read{
    margin-bottom:40px;
}
.room_set {
    margin-bottom:30px;    
}
.room_set h3 {
    color:#B4007F;
    font-size:24px;
    margin-top:30px;
        margin-bottom:20px;
    

}
.room_set p{
    font-size:14px;
    line-height:1.8;
}


.box3 {
    margin-bottom:10px;
}
.box3 .set {
    text-align:left;
    width:290px;
    float:left;
    margin-right:30px;
    font-size:12px;
    line-height:1.8;
}

.box3 .set.last {
    margin-right:0;
}
.box3 p {
    font-size:12px;
    margin:0px 0 15px 0;

}

/**/
.box6 {
    margin-bottom:10px;
}
.box6 .set {
    text-align:left;
    width:145px;
    float:left;
    margin-right:55px;
    font-size:12px;
    line-height:1.2;
}

.box6 .set.last {
    margin-right:0;
}
.box6 p {
    font-size:12px;
    margin:0px 0 15px 0;

}

